<div class="widget-3column [[Model.CssClass]]">
    <div class="row collapse">
        <div class="medium-[[Model.LeftColumnSize]] large-[[Model.LeftColumnSize]] columns collapse">
            [% zone 'LeftColumn' %]
        </div>
        <div class="medium-[[Model.CenterColumnSize]] large-[[Model.CenterColumnSize]] columns collapse">
            [% zone 'CenterColumn' %]
        </div>
        <div class="medium-[[Model.RightColumnSize]] large-[[Model.RightColumnSize]] columns collapse">
            [% zone 'RightColumn' %]
        </div>
    </div>
</div>