[% if Model.Drop.RootPageExists -%]
<div class="row">
    <div class="widget-navlist blog-nav [[Model.CssClass]]">
        <h4 class="title">[[Model.Drop.RootPageTitle]]</h4>
        <ul class="list-items">
            [% for childPage in Model.Drop.ChildPages -%]
            <li>
                <a href="[[childPage.Url]]" class="[[childPage.CssClass]] cms-navlist-navitem">[[childPage.Title]]</a>
                [% if childPage.ChildPages %]
                <ul>
                    [% for grandChildPage in childPage.ChildPages -%]
                    <li>
                        <a href="[[grandChildPage.Url]]" class="[[grandChildPage.CssClass]]">[[grandChildPage.Title]]</a>
                    </li>
                    [% endfor %]
                </ul>
                [% endif %]
            </li>
            [% endfor -%]
        </ul>
    </div>
</div>
[% else -%]
    [% if IsViewingMode == false -%]
    <p>There was no page found for the content name '[[Model.RootPageName]]', edit this item to resolve the issue</p>
    [% endif -%]
[% endif -%]

<script>
    $(".title").click(function () {
        $(".blog-nav").toggleClass('expanded');
    });
</script>