<div class="page-tag-links tst_pageTagLinksView">
    <div class="news-listings">
        [% for tag in Model.Drop.PageTags -%]
        <div class="page-tag-page tst_pageTagLinksView_newsList">
            <a href="javascript:window.location.href='[[Model.Drop.ParentUrl]]?tag=[[tag]]'">[[tag]]</a><br />
        </div>
        [% endfor -%]
    </div>
</div>