<div class="page-tag-links tst_pageTagLinksView">
    <div class="news-listings">
        [% for tag in Model.Drop.PageTags -%]
        <div class="page-tag-page tst_pageTagLinksView_newsList">
            <code>[[tag]]</code><br />
        </div>
        [% endfor -%]
    </div>
</div>