<ul>
    <li id="tst_cartLines_{{::cartLine.productId}}_{{cartLine.unitOfMeasure}}" class="row item-block checkout-item" ng-repeat="cartLine in cart.cartLines | filter: quoteRequiredFilter">
        <isc-product-thumb product="cartLine"></isc-product-thumb>
        <div class="small-10 columns item-details">
            <span ng-if="cartLine.isPromotionItem && editable">[% siteMessage 'Cart_PromotionalItem' %]</span>
            <div class="item-qty">
                <div class="qty-label">[% translate 'Quantity' %]</div>
                <span class="qty-amount" ng-bind="cartLine.qtyOrdered"></span>
            </div>
            <div class="item-name">
                <a ng-href="{{cartLine.productUri}}">
                    <span ng-bind="cartLine.shortDescription"></span>
                </a>
                <span ng-if="!cartLine.isFixedConfiguration" ng-repeat="sectionOption in cartLine.sectionOptions">
                    <br /> <span ng-bind="sectionOption.sectionName + ':' + sectionOption.optionName"></span>
                </span>
            </div>

            <div ng-show="includeInventory && !cartLine.quoteRequired" class="availability">
                <isc-availability-message availability="cartLine.availability" failed-to-get-real-time-inventory="failedToGetRealTimeInventory"></isc-availability-message>
            </div>

            <div class="row promo-applied" ng-repeat="promotion in promotions | filter: {orderLineId : cartLine.id}">
                <div class="small-6 columns sub-label">
                    <em><span class="tst_cartLine_lineLevelPromo" ng-bind="promotion.name"></span></em>
                </div>
            </div>
            <div class="price" ng-if="!cart.cartNotPriced" style="display:none;">
                <isc-product-price product="cartLine"></isc-product-price>
                <isc-unit-of-measure-display product="cartLine"> </isc-unit-of-measure-display>
                <isc-product-price-saving product="cartLine" currency-symbol="cart.currencySymbol"></isc-product-price-saving>
                <div class="quantity-pricing">
                    <isc-quantity-break-pricing product-id="cartLine.id" break-prices="cartLine.breakPrices"></isc-quantity-break-pricing>
                </div>
            </div>
            <div class="price" ng-if="cart.cartNotPriced">
                <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
            </div>
            <div>
                <a id="tst_cartLine_productSubscription" href="" class="btn primary btn-product-subscription"
                   ng-show="cartLine.isSubscription && editable"
                   ng-click="vm.openProductSubscriptionPopup(cartLine)"
                   ng-disabled="!cart.canModifyOrder || cartLine.isPromotionItem || vm.isUpdateInProgress">
                    [% translate 'Delivery Schedule' %]
                </a>
            </div>
        </div>
        <div class="large-12 column">
            <div class="item-name-options" ng-if="cartLine.properties['details']">
                <span>{{cartLine.properties['details']}}</span>
            </div>
            <div class="item-sku-wrap">
                <div class="item-label">item #:</div>
                <isc-product-name product="cartLine" no-link="true"></isc-product-name>
                <div class="item-flags gsa" ng-if="vm.isAttributeValue('GSA', 'Yes');">GSA</div>
            </div>
            <div class="price-wrap" ng-if="!inventoryCheck || cartLine.quoteRequired || (inventoryCheck && (cartLine.availability.messageType != 2 || cartLine.canBackOrder))">
                <div class=""><span ng-if="!cartLine.quoteRequired && !cart.cartNotPriced" ng-bind="cartLine.pricing.extendedUnitNetPriceDisplay"></span></div>
            </div>
            <div class="item-qty-message" ng-show="inventoryCheck || cartLine.isRestricted">
                <span ng-show="inventoryCheck && cartLine.hasInsufficientInventory" class="message-avail--avail">
                    {{'[% siteMessage 'Cart_ToManyQtyRequested' EscapeSingleQuotes %]'.replace('{0}', cartLine.qtyOnHand).replace('{1}', vm.getSumQtyPerUom(cartLine.productId, cart.cartLines))}}
                </span>
                <span ng-show="cartLine.isRestricted" class="message-avail--avail">
                    [% translate 'Restricted product' %]
                </span>
            </div>
        </div>
        <div class="large-9 columns item-code-notes" ng-if="!editable">
            <div class="row">
                <div class="large-6 columns cost-code" ng-if="cart.showCostCode && cartLine.costCode.length > 0">
                    <strong><span ng-bind="cart.costCodeLabel"></span>:</strong>
                    <span ng-bind="cartLine.costCode"></span>
                </div>
                <div class="large-6 columns item-notes" ng-if="cart.showLineNotes && cartLine.notes.length > 0">
                    <strong>[% translate 'Item Notes' %]:</strong>
                    <span ng-bind="cartLine.notes"></span>
                </div>
            </div>
        </div>
    </li>
</ul>