
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container popular-cat four-col">
        <div class="row">
            <div class="medium-12 large-12 columns widget-1column">
                <div class="">
                    <h2>Popular Categories</h2>
                </div>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="popular-cat__wrap four-col__item-container">
                    <div class="popular-cat__item four-col__item">
                        <a href="#">
                            <div class="popular-cat__img-wrap">
                                <img class="popular-cat__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="popular-cat__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </div>
                    <div class="popular-cat__item four-col__item">
                        <a href="#">
                            <div class="popular-cat__img-wrap">
                                <img class="popular-cat__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="popular-cat__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </div>
                    <div class="popular-cat__item four-col__item">
                        <a href="#">
                            <div class="popular-cat__img-wrap">
                                <img class="popular-cat__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="popular-cat__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </div>
                    <div class="popular-cat__item four-col__item">
                        <a href="#">
                            <div class="popular-cat__img-wrap">
                                <img class="popular-cat__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="popular-cat__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="medium-12 large-12 columns widget-1column">
                    <div class="float-md-right">
                        <a href="#">See All Categories <i class="ico-RightArrow ico-RightArrow--orange"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>