[% capture Image %]
<img src="[[Model.ImageSource]]" alt="[[Model.AltText]]" style="" />
[% endcapture %]

<div class="widget-image [[Model.CssClass]]">
    [%- if Model.IsLinkProvided -%]
        <a class="cms-imageLink" href="[[Model.Link]]">[[Image]]</a>
    [%- else -%]
        [[Image]]
    [%- endif -%]
</div>