[% capture Image %]
<img src="[[Model.ImageUrl]]" alt="[[Model.AltText]]" style="[[Model.HeightStyleDeclaration]] [[Model.WidthStyleDeclaration]]" />
[% endcapture %]

[%- if Model.IsLinkProvided -%]
<a class="nbf-logo [[Model.CssClass]]" href="[[Model.Link]]">[[Image]]</a>
[%- else -%]
[[Image]]
[%- endif -%]