<div ng-controller="OrderListController as vm" ng-cloak>
    <div class="">
        <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
            <div class="row">
                <h2 class="order-history__title page-title">[% translate 'Order History' %]</h2>
                <section class="accordion search-orders">
                    <div class="cm">
                        <input type="checkbox" id="accord-1" class="accord-check" />
                        <label id="tst_ordersPage_searchOrdersBtn" for="accord-1" class="accord-head">[% translate 'Search Orders' %]</label>
                        <article class="accord-content">
                            <div class="row">
                                <div class="medium-12 large-3 columns">
                                    <div class="search-ship-to">
                                        <label>[% translate 'Ship To Address' %]</label>
                                        <select ng-model="vm.searchFilter.customerSequence" ng-options="shipTo.customerSequence as shipTo.label for shipTo in vm.shipTos"></select>
                                    </div>
                                    <div class="search-status">
                                        <label>[% translate 'Status' %]</label>
                                        <select id="tst_ordersPage_status" ng-model="vm.searchFilter.statusDisplay">
                                            <option value="">[% translate 'Select' %]</option>
                                            <option ng-repeat="(key,value) in vm.orderStatusMappings" ng-selected="vm.searchFilter.statusDisplay === key" value="{{::key}}" ng-bind="key"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="medium-12 large-3 columns">
                                    <div class="search-po" ng-if="vm.settings.showPoNumber">
                                        <label>[% translate 'PO #' %]</label>
                                        <input type="text" ng-model="vm.searchFilter.ponumber" />
                                    </div>
                                    <div class="search-order-num">
                                        <label>[% translate 'Order #' %]</label>
                                        <input type="text" ng-model="vm.searchFilter.ordernumber" />
                                    </div>
                                </div>
                                <div class="medium-12 large-6 columns">
                                    <div class="search-total" style="visibility: hidden;">
                                        <label>[% translate 'Order Total' %]</label>
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <select ng-model="vm.searchFilter.ordertotaloperator">
                                                    <option value="">[% translate 'Select' %]</option>
                                                    <option value="Greater Than">[% translate 'Greater Than' %]</option>
                                                    <option value="Less Than">[% translate 'Less Than' %]</option>
                                                    <option value="Equal To">[% translate 'Equal To' %]</option>
                                                </select>
                                            </div>
                                            <div class="small-6 columns">
                                                <input type="text" ng-model="vm.searchFilter.ordertotal" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search-date">
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <label>[% translate 'Date Range' %]</label>
                                                <input id="tst_ordersPage_fromDate" name="tst_ordersPage_fromDate" type="text" value="" class="datepicker" isc-pick-a-date="vm.searchFilter.fromDate"/>
                                                <input id="tst_ordersPage_toDate" name="tst_ordersPage_toDate" type="text" value="" class="datepicker to-date" isc-pick-a-date="vm.searchFilter.toDate"/>
                                            </div>
                                            <div class="small-6 columns">
                                                <div class="btns">
                                                    <button id="tst_ordersPage_searchBtn" type="submit" class="btn primary btn-search" ng-click="vm.search()">[% translate 'Search' %]</button>
                                                    <button id="tst_ordersPage_clearBtn" type="submit" class="btn btn-secondary btn-clear" ng-click="vm.clear()">[% translate 'Clear' %]</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </section>

                <p class="error" ng-if="vm.validationMessage" ng-bind="vm.validationMessage"></p>

                <div ng-show="vm.orderHistory.orders.length > 0">

                    <h3 class="results-count">
                        <span class="result-num" ng-bind="vm.pagination.totalItemCount"></span>
                        <span class="result-lbl">[% translate 'orders' %]</span>
                    </h3>

                    <nbf-item-list-pager pagination="vm.pagination" storage-key="vm.paginationStorageKey" update-data="vm.getOrders()" per-page="true"></nbf-item-list-pager>

                    <div class="overflow-table small">
                        <table class="info-tbl">
                            <tbody>
                                <tr>
                                    <th class="col-date">
                                        <span class="sticky-first">
                                            <a href="javascript:void(0)" class="sort" id="tst_myaccount_orders_sort_orderdate"
                                               ng-class="{'sort-ascending': vm.searchFilter.sort === 'OrderDate,ErpOrderNumber,WebOrderNumber', 'sort-descending': vm.searchFilter.sort === 'OrderDate DESC,ErpOrderNumber DESC,WebOrderNumber DESC'}"
                                               ng-click="vm.changeSort('OrderDate,ErpOrderNumber,WebOrderNumber')">
                                                [% translate 'Date' %]
                                            </a>
                                        </span>
                                    </th>
                                    <th class="col-erp">
                                        <a href="javascript:void(0)" class="sort"
                                           ng-class="{'sort-ascending':vm. searchFilter.sort === 'ERPOrderNumber', 'sort-descending': vm.searchFilter.sort === 'ERPOrderNumber DESC'}"
                                           ng-click="vm.changeSort('ERPOrderNumber')">
                                            [% translate 'Order #' %]
                                        </a>
                                    </th>
                                    <th class="col-shipto">
                                        <a href="javascript:void(0)" class="sort"
                                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'STCompanyName', 'sort-descending': vm.searchFilter.sort === 'STCompanyName DESC'}"
                                           ng-click="vm.changeSort('STCompanyName')">
                                            [% translate 'Ship To' %]
                                        </a>
                                    </th>
                                    <th class="col-status">
                                        <a href="javascript:void(0)" class="sort"
                                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'Status', 'sort-descending': vm.searchFilter.sort === 'Status DESC'}"
                                           ng-click="vm.changeSort('Status')">
                                            [% translate 'Status' %]
                                        </a>
                                    </th>
                                    <th class="col-ordernum" ng-if="vm.settings.showWebOrderNumber">
                                        <a href="javascript:void(0)" class="sort"
                                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'WebOrderNumber', 'sort-descending': vm.searchFilter.sort === 'WebOrderNumber DESC'}"
                                           ng-click="vm.changeSort('WebOrderNumber')">
                                            [% translate 'Web Order #' %]
                                        </a>
                                    </th>
                                    <th class="col-po" ng-if="vm.settings.showPoNumber">
                                        <a href="javascript:void(0)" class="sort"
                                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'CustomerPO', 'sort-descending': vm.searchFilter.sort === 'CustomerPO DESC'}"
                                           ng-click="vm.changeSort('CustomerPO')">
                                            [% translate 'PO #' %]
                                        </a>
                                    </th>
                                    <th class="col-tot">
                                        <a href="javascript:void(0)" class="sort"
                                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'OrderTotal', 'sort-descending': vm.searchFilter.sort === 'OrderTotal DESC'}"
                                           ng-click="vm.changeSort('OrderTotal')">
                                            [% translate 'Total' %]
                                        </a>
                                    </th>
                                    <th class="col-btn">
                                        <a href="javascript:void(0)" class="reorder">
                                            [% translate 'Reorder' %]
                                        </a>
                                    </th>
                                </tr>
                                <tr class="tst_ordersPage_orderLine" ng-repeat="order in vm.orderHistory.orders">
                                    <td class="col-date"><span class="sticky-first"><a ng-href="[% urlForPage 'OrderDetailPage' %]?orderNumber={{ order.erpOrderNumber || order.webOrderNumber }}">{{ order.orderDate | date:'shortDate' }} </a></span></td>
                                    <td class="col-erp"><a ng-href="[% urlForPage 'OrderDetailPage' %]?ordernumber={{ order.erpOrderNumber || order.webOrderNumber }}" ng-click="">{{ order.erpOrderNumber }}</a></td>
                                    <td class="col-shipto" ng-bind="order.stCompanyName"></td>
                                    <td class="col-status" ng-bind="order.statusDisplay"></td>
                                    <td class="col-ordernum" ng-if="vm.settings.showWebOrderNumber"><a ng-href="[% urlForPage 'OrderDetailPage' %]?orderNumber={{ order.erpOrderNumber || order.webOrderNumber }}">{{ order.webOrderNumber }} </a></td>
                                    <td class="col-po"  ng-if="vm.settings.showPoNumber" ng-bind="order.customerPO" ng-click="copyToSearch(order.customerPO)"></td>
                                    <td class="col-tot" ng-bind="order.orderTotalDisplay"></td>
                                    <td class="col-btn">
                                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="vm.addToCart(order)" ><span class="ico-CartIcon"></span> Add To Cart</a>                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nbf-item-list-pager pagination="vm.pagination" bottom="true" storage-key="vm.paginationStorageKey" update-data="vm.getOrders()" per-page="true"></nbf-item-list-pager>
                </div>

                <div class="search-no-results" ng-show="vm.orderHistory.orders.length === 0">
                    <h3>[% translate 'No orders found' %].</h3>
                </div>
            </div>
        </div>
    </div>
</div>