[% if Model.Drop.RootPageExists -%]
<li class="[[Model.CssClass]]">
    <span class="nav-item-container">
        <a id="tst_navMenu_[[Model.Drop.RootPageTitle]]" onclick="$(this).next().click();return false;">[[Model.Drop.RootPageTitle]]</a>
        <label for="nav-cat" class="toggle-sub" onclick="insite.nav.goToSubnav(this)">►</label>
    </span>
    <input type="checkbox" name="nav" id="nav-cat" class="subnav-check">
    <div id="sub-cat" class="subnav sub-tier-panel single">
        <ul class="level-1">
            <li class="sub-heading">[[Model.Drop.RootPageTitle]]</li>
            [% for childPage in Model.Drop.ChildPages -%]
            [% if forloop.index == 1 -%]
            <li class="currently-hovered">
                [% else -%]
            <li>
                [% endif -%]
                <span class="nav-item-container">
                    <a id="tst_productMenu_[[forloop.index]]" href="[[childPage.Url]]" onclick="insite.nav.hideMenu();">[[childPage.Title]]</a>
                    <label for="nav-cat[[forloop.index]]" class="toggle-sub" onclick="insite.nav.goToSubnav(this)">►</label>
                </span>
                <input type="checkbox" name="nav" id="nav-cat[[forloop.index]]" class="subnav-check">
            </li>
            [% endfor -%]
        </ul>
    </div>
</li>
[% else -%]
    [% if IsViewingMode == false -%]
<p>There was no page found for the content name '[[Model.RootPageName]]', edit this item to resolve the issue</p>
    [% endif -%]
[% endif -%]
