<style type="text/css">
    .homepage__banner-bg {
        background-image: url('[[Model.BackgroundImage]]');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="banner banner--homepage">
            <div class="banner__bg--homepage homepage__banner-bg"></div>
            [% if Model.Title1 != null and Model.Title1 != "" -%]
            <div class="banner__content banner__content--[[Model.Position1Formatted]]  banner__content--[[Model.Style1Formatted]]">
                [% if Model.Style1Formatted == "default" -%]
                <h1>[[Model.Title1]]</h1>
                <p>[[Model.SubTitle1]]</p>
                [% if Model.ButtonReady1 == true -%]
                <a href="[[Model.ButtonUrl1]]" class="btn btn-primary">[[Model.ButtonText1]]</a>
                [% endif -%]
                [% else -%]
                <div class="square-padding-bottom">
                    <div class="square-conatiner">
                        <div class="v-center">
                            <h3 class="banner__content--[[Model.Style1Formatted]]__title">[[Model.Title1]]</h3>
                            [% if Model.SubTitle1 != null and Model.SubTitle1 != "" -%]
                            <p>[[Model.SubTitle1]]</p>
                            [% endif -%]
                            [% if Model.ButtonReady1 == true -%]
                            <a href="[[Model.ButtonUrl1]]" class="btn btn-primary">[[Model.ButtonText1]]</a>
                            [% endif -%]
                        </div>
                    </div>
                </div>
                [% endif -%]
            </div>
            [% endif -%]
            [% if Model.Title2 != null and Model.Title2 != "" -%]
            <div class="banner__content banner__content--[[Model.Position2Formatted]]  banner__content--[[Model.Style2Formatted]]">
                [% if Model.Style2Formatted == "default" -%]
                <h1>[[Model.Title2]]</h1>
                <p>[[Model.SubTitle2]]</p>
                [% if Model.ButtonReady2 == true -%]
                <a href="[[Model.ButtonUrl2]]" class="btn btn-primary">[[Model.ButtonText2]]</a>
                [% endif -%]
                [% else -%]
                <div class="square-padding-bottom">
                    <div class="square-conatiner">
                        <div class="v-center">
                            <h3 class="banner__content--[[Model.Style1Formatted]]__title">[[Model.Title2]]</h3>
                            [% if Model.SubTitle2 != null and Model.SubTitle2 != "" -%]
                            <p>[[Model.SubTitle2]]</p>
                            [% endif -%]
                            [% if Model.ButtonReady2 == true -%]
                            <a href="[[Model.ButtonUrl2]]" class="btn btn-primary">[[Model.ButtonText2]]</a>
                            [% endif -%]
                        </div>
                    </div>
                </div>
                [% endif -%]
            </div>
            [% endif -%]
        </div>
    </div>
</div>
