
<style type="text/css">
    .homepage__banner-bg {
        background-image: url('/userfiles/images/bannerimages/placeholder.png');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="banner banner--homepage">
            <div class="banner__bg--homepage homepage__banner-bg"></div>
            <div class="banner__content banner__content--[[Model.Position]]  banner__content--[[Model.Style]]">
                [% if Model.Style == "Default" -%]
                <h2>Hundreds of Products Shipping Today!</h2>
                <p>With a wide selection ready to get to your doorstep, shopping can't get any easier.</p>
                <a href="#" class="btn btn-primary">Start Here!</a>
                [% else -%]
                <div class="square-padding-bottom">
                    <div class="square-conatiner">
                        <div class="v-center">
                            <h3>Contemporary Computer Desk</h3>
                        </div>
                    </div>
                </div>
                [% endif -%]
            </div>
            <div class="banner__content banner__content--[[Model.Style]] banner__content--[[Model.Position]]">
                [% if Model.Style == "Default" -%]
                <h2>Hundreds of Products Shipping Today!</h2>
                <p>With a wide selection ready to get to your doorstep, shopping can't get any easier.</p>
                <a href="#" class="btn btn-primary">Start Here!</a>
                [% else -%]
                <div class="square-padding-bottom">
                    <div class="square-conatiner">
                        <div class="v-center">
                            <h3>Contemporary Computer Desk</h3>
                        </div>
                    </div>
                </div>
                [% endif -%]
            </div>
        </div>
    </div>
</div>
