
<style type="text/css">
    .homepage__banner-bg {
        background-image: url('[[Model.BackgroundImage]]');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="banner banner--homepage">
            <div class="banner__bg--homepage homepage__banner-bg"></div>
            [% if Model.Title1 != null and Model.Title1 != "" -%]
            <div class="banner__content banner__content--[[Model.Position1]]  banner__content--[[Model.Style1]]">
                [% if Model.Style1 == "Default" -%]
                <h2>[[Model.Title1]]</h2>
                <p>[[Model.SubTitle1]]</p>
                <a href="#" class="btn btn-primary">[[Model.ButtonText1]]</a>
                [% else -%]
                <div class="square-padding-bottom">
                    <div class="square-conatiner">
                        <div class="v-center">
                            <h3>[[Model.Title1]]</h3>
                        </div>
                    </div>
                </div>
                [% endif -%]
            </div>
            [% endif -%]
            [% if Model.Title2 != null and Model.Title2 != "" -%]
            <div class="banner__content banner__content--[[Model.Position2]]  banner__content--[[Model.Style2]]">
                [% if Model.Style2 == "Default" -%]
                <h2>[[Model.Title2]]</h2>
                <p>[[Model.SubTitle2]]</p>
                <a href="#" class="btn btn-primary">[[Model.ButtonText2]]</a>
                [% else -%]
                <div class="square-padding-bottom">
                    <div class="square-conatiner">
                        <div class="v-center">
                            <h3>[[Model.Title2]]</h3>
                        </div>
                    </div>
                </div>
                [% endif -%]
            </div>
            [% endif -%]
        </div>
    </div>
</div>
