
<style type="text/css">
    .banner__bg {
        background-image: url('/userfiles/images/bannerimages/1440x600.png');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="banner banner__bg">
            <div class="banner__content banner__content--bottom-left">
                <h2>Seating</h2>
                <p>Looking to take a comfortable seat at your workstation? Computer chairs come in a huge variety to suit your needs. Check out our Complete Guide to Office Chair.</p>
                <a href="#" class="btn btn-primary">Get The Guide</a>
            </div>
        </div>
    </div>
</div>
