
<style type="text/css">
    .banner__bg {
        background-image: url('/userfiles/images/bannerimages/1440x600.png');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="banner">
            <div class="banner__bg banner-bg"></div>
            <div class="banner__content banner__content--[[Model.Position]] banner__content--[[Model.Style]]">
                [% if Model.Style == "Default" -%]
                <h1 class="banner__content__default__title">Seating</h1>
                <p>Looking to take a comfortable seat at your workstation? Computer chairs come in a huge variety to suit your needs. Check out our Complete Guide to Office Chair.</p>
                <a href="#" class="btn btn-primary">Get The Guide</a>
                [% else -%]
                <div class="square-padding-bottom">
                    <div class="square-conatiner">
                        <div class="v-center">
                            <h2 class="banner__content--square__title">Contemporary Computer Desk</h2>
                        </div>
                    </div>
                </div>
                [% endif -%]
            </div>
        </div>
    </div>
</div>
