
<style type="text/css">
    .page-banner {
        background-image: url('/userfiles/images/bannerimages/placeholder.png');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="page-banner">
            <div class="banner-top-left">
                <h3>Contemporary Computer Desk</h3>
            </div>
            <div class="banner-bottom-right">
                <h2>Hundreds of Products Shipping Today!</h2>
                <p>With a wide selection ready to get to your doorstep, shopping can't get any easier.</p>
                <a href="#" class="btn btn-primary">Start Here!</a>
            </div>
        </div>
    </div>
</div>
