<style type="text/css">
    .homepage__banner-bg {
        background-image: url('[[Model.BackgroundImage]]');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="banner banner--homepage">
            <div class="banner__bg--homepage homepage__banner-bg"></div>

        </div>
    </div>
</div>
