
<style>
    .link1 {
        [[Model.Product1HotspotPosition]]
    }
    .link2 {
        [[Model.Product2HotspotPosition]]
    }
    .link3 {
        [[Model.Product3HotspotPosition]]
    }
</style>

<div class="row"  ng-controller="NbfShopTheLookDetailsController as vm">
    <div class="medium-12 large-12 columns widget-1column no-margin shopthelookdetail shopthelookwidget [[Model.CssClass]]">
        <div class="row">
            <div class="small-12 columns">
               <div class="shopthelookdetail__image-col">
                   <div ng-controller="FeaturedProductsWidgetController as vm1" product-id-string="[[Model.ProductString]]" ng-cloak>
                       <img src="[[Model.BackgroundImage]]" />
                                                                     
                       <div id="{{product.id}}" ng-click="vm.hotspot_clicked(product.id)" class="hotspot has-tip link{{$index+1}}" ng-repeat="product in vm1.products">
                           <div class="tooltip">
                               <div class="tooltip__img">
                                   <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{product.smallImagePath ? product.smallImagePath : product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{product.altText}}" />
                               </div>
                               <div class="tooltip__details">
                                   <div class="tooltip__details__desc">
                                       {{product.shortDescription}}
                                   </div>
                                   <div class="tooltip__details__number">
                                       Item No: {{product.erpNumber}}
                                   </div>
                                   <div class="tooltip__details__price">
                                       <isc-product-price product="product"></isc-product-price>
                                       <isc-product-price-saving product="product"></isc-product-price-saving>
                                   </div>
                               </div>
                               <div class="tooltip__details__btn">
                                   <a href="{{product.productDetailUrl}}" class="btn btn-primary">See Product Details</a>
                               </div>
                           </div>
                       </div>                       
                   </div>
                   <div class="shopthelookwidget__content shopthelookwidget__content--topleft">
                       <h1>[[Model.Title]]</h1>
                       <a href="[[Model.ButtonUrl]]" class="">[[Model.SubTitle]] <i class="ico-RightArrow ico-RightArrow--orange"></i></a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
