<div class="exempt">
    <form id="tax_exempt_form" ng-cloak>
        <span class="exempt__label">[% siteMessage 'TaxExempt_Label' 'Tax Exempt?' %]</span>
        <input id="taxyes" class="customradio" type="radio" name="tax" ng-model="vm.taxExemptChoice" ng-disabled="vm.isTaxExempt || vm.taxExemptFileName" ng-value="true" /><label for="taxyes">Yes</label>
        <input id="taxno" class="customradio" type="radio" name="tax" ng-model="vm.taxExemptChoice" ng-disabled="vm.isTaxExempt || vm.taxExemptFileName" ng-value="false" /><label for="taxno">No</label>
        <div class="upload-btn" ng-show="!vm.isTaxExempt && vm.taxExemptChoice && !vm.taxExemptFileName" ng-click="vm.openUpload()" ng-cloak>
            <span ng-if="!vm.taxExemptFileName">[% siteMessage 'TaxExempt_UploadText' 'UPLOAD YOUR TAX EXEMPT CERTIFICATE' %]</span>
            <input type="file" accept=".jpg,.pdf,.png,.gif,.doc,.docx," id="taxExemptFileUpload" name="attachment"
                   data-val-required="[% siteMessage 'TaxExempt_Upload_Required' 'Please select a file to upload.' %]"
                   data-val="true"
                   data-val-regex-pattern="^.*\.(jpg|JPG|jpeg|JPEG|doc|DOC|docx|DOCX|gif|GIF|pdf|PDF|png|PNG)$"
                   data-val-regex="[% siteMessage 'TaxExempt_Upload_FileType' 'Please select a file with one of the following extensions: doc, docx, pdf, png, gif, and jpg' %]" />
        </div>
        <div class="doc-tag" ng-if="vm.isTaxExempt || vm.taxExemptChoice && vm.taxExemptFileName" ng-bind="vm.taxExemptFileName" ng-click="!vm.isTaxExempt ? vm.openUpload() : angular.noop()"></div>
        <button type="button" class="btn primary btn-save" ng-if="!vm.isTaxExempt && vm.taxExemptChoice && vm.taxExemptFileName && !vm.success" ng-click="vm.saveFile('[% siteMessage 'TaxExempt_Upload_EmailTo' 'dylan.barter@xcentium.com' %]')">[% siteMessage 'TaxExempt_UploadButtonText' 'Save File' %]</button>
        <p ng-if="vm.errorMessage" ng-bind="vm.errorMessage"></p>
        <p ng-if="vm.success">[% siteMessage 'TaxExempt_UploadSuccessText' 'Your File Has Been Successfully Uploaded' %]</p>
    </form>
</div>