<div class="exempt">
    <span class="exempt__label">[% siteMessage 'Checkout_TaxExempt_Label' 'Tax Exempt?' %]</span>
    <input id="taxyes" class="customradio" type="radio" name="tax" ng-model="vm.taxExemptChoice" ng-disabled="vm.isTaxExempt || vm.taxExemptFileName" ng-value="true"/><label for="taxyes">Yes</label>
    <input id="taxno" class="customradio" type="radio" name="tax" ng-model="vm.taxExemptChoice" ng-disabled="vm.isTaxExempt || vm.taxExemptFileName" ng-value="false"/><label for="taxno">No</label>
    <div class="upload-btn" ng-show="!vm.isTaxExempt && vm.taxExemptChoice && !vm.taxExemptFileName" ng-click="vm.openUpload()">
        <span ng-if="!vm.taxExemptFileName">[% siteMessage 'Checkout_TaxExempt_UploadText' 'UPLOAD YOUR TAX EXEMPT CERTIFICATE' %]</span>
        <input type="file" accept=".jpg,.pdf,.doc,.docx,.txt" id="taxExemptFileUpload" name="attachment"
               data-val-required="[% siteMessage 'Checkout_TaxExempt_Upload_Required' 'Please select a file to upload.' %]" 
               data-val="true"
               data-val-regex-pattern="^.*\.(jpg|JPG|jpeg|JPEG|doc|DOC|docx|DOCX|txt|TXT|pdf|PDF)$"
               data-val-regex="[% siteMessage 'Checkout_TaxExempt_Upload_FileType' 'Please select a file with one of the following extensions: .jpg, .pdf, .doc' %]"/>
    </div>
    <div class="doc-tag" ng-if="vm.isTaxExempt || vm.taxExemptChoice && vm.taxExemptFileName" ng-bind="vm.taxExemptFileName" ng-click="!vm.isTaxExempt ? vm.openUpload() : angular.noop()"></div>
    <a ng-if="!vm.isTaxExempt && vm.taxExemptChoice && vm.taxExemptFileName" ng-click="vm.saveFile()">Save File</a>
</div>