﻿<div class="widget-recently-purchased [[Model.CssClass]]" ng-controller="RecentlyPurchasedController as vm" ng-show="vm.showOrders && vm.productItems.length > 0" ng-cloak>
</div>

<div product-numbers-string="[[Model.ProductNumbersString]]" ng-cloak
     pr-api-key="[% siteMessage 'PowerReviews_ApiKey' '56b8fc6a-79a7-421e-adc5-36cbdaec7daf ' %]"
     pr-merchant-group-id="[% siteMessage 'PowerReviews_MerchantGroupId' '47982' %]"
     pr-merchant-id="[% siteMessage 'PowerReviews_MerchantId' '33771' %]">
    <div class="row" role="cross-sells">
        <div class="medium-12 large-12 columns">
            <div class="carousel-title">
                [[Model.Title]]
            </div>
            <div class="carousel-wrapper">
                <div class="rp-carousel">
                    <ul class="items slides tst_crossSellProduct_slides">
                        <li id="tst_crossSellProduct_9dc8d8b9-87fd-e711-a98c-a3e0f1200094" class="medium-3 large-3 columns isc-productContainer tst_crossSellProduct_productContainer">
                            <div class="item-wrap">
                                <div class="carousel-item-equalize">
                                    <div class="favorite-btn" ng-if="vm.isAuthenticatedAndNotGuest">
                                        <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                           ng-click="vm.toggleFavorite(product)" role="button"
                                           class="btn secondary btn-add-to-list" href="javascript:;"></a>
                                    </div>
                                    <div class="thumb-wrap">
                                        <div class="item-thumb">
                                            <a ng-href="/circulation-desk-with-drawer-36w-x-30d-10022">
                                                <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?hei=250&id=Iu1rN2&fmt=jpg&fit=constrain,1&wid=250&hei=250" alt="" increment-images-loaded />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li>
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344" src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344">
                                                </div>
                                            </li>
                                            <li class="item-block__product__more-link"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-name">
                                        <a ng-href="#">Circulation Desk with Drawer - 36"W x 30"D</a>
                                    </div>

                                    <div class="product-info">
                                        <div class="item-num">
                                            <span class="item-num-sku">{{::product.erpNumber}}</span>
                                            <span class="item-num-mfg" ng-if="::(!!product.manufacturerItem)">[% translate 'MFG #' %]: {{::product.manufacturerItem}}</span>
                                            <span class="item-num-my" ng-if="::(!!product.customerName)">[% translate 'My Part #' %]: {{::product.customerName}}</span>
                                        </div>

                                        <div class="price item-block__product__price" ng-if="!vm.failedToGetRealTimePrices">
                                            <isc-product-price product="product" id-key="" ng-if="::product.canShowPrice"></isc-product-price>
                                            <isc-product-price-saving product="product" currency-symbol="product.currencySymbol" ng-cloak></isc-product-price-saving>
                                            <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                                GSA
                                            </div>
                                            <div ng-if="product.priceCode != null && product.priceCode.length > 0" class="item-block__product__flag save">
                                                SAVE {{product.priceCode}}%
                                            </div>
                                            <span class="um displayUnitOfMeasure" ng-if="vm.showUnitOfMeasureLabel(product)">
                                                <span class="um-sep">/</span>
                                                <span class="selected-uom">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay}}</span>
                                            </span>
                                        </div>
                                        <div class="price" ng-if="vm.failedToGetRealTimePrices">
                                            <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                                        </div>
                                        <div class="um-pack" ng-if="product.canShowUnitOfMeasure">
                                            <div class="um">
                                                <label ng-if="::vm.showUnitOfMeasure(product)">[% translate 'U/M' %]:</label>
                                                <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{::vm.productSettings.alternateUnitsOfMeasure}}" display-pack="true" change-unit-of-measure="vm.changeUnitOfMeasure(product)"></isc-unit-of-measure-select-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');"><span class="ico-Truck"></span> Ships Today!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="tst_crossSellProduct_9dc8d8b9-87fd-e711-a98c-a3e0f1200094" class="medium-3 large-3 columns isc-productContainer tst_crossSellProduct_productContainer">
                            <div class="item-wrap">
                                <div class="carousel-item-equalize">
                                    <div class="favorite-btn" ng-if="vm.isAuthenticatedAndNotGuest">
                                        <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                           ng-click="vm.toggleFavorite(product)" role="button"
                                           class="btn secondary btn-add-to-list" href="javascript:;"></a>
                                    </div>
                                    <div class="thumb-wrap">
                                        <div class="item-thumb">
                                            <a ng-href="/circulation-desk-with-drawer-36w-x-30d-10022">
                                                <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?hei=250&id=Iu1rN2&fmt=jpg&fit=constrain,1&wid=250&hei=250" alt="" increment-images-loaded />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li>
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344" src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344">
                                                </div>
                                            </li>
                                            <li class="item-block__product__more-link"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-name">
                                        <a ng-href="#">Circulation Desk with Drawer - 36"W x 30"D</a>
                                    </div>

                                    <div class="product-info">
                                        <div class="item-num">
                                            <span class="item-num-sku">{{::product.erpNumber}}</span>
                                            <span class="item-num-mfg" ng-if="::(!!product.manufacturerItem)">[% translate 'MFG #' %]: {{::product.manufacturerItem}}</span>
                                            <span class="item-num-my" ng-if="::(!!product.customerName)">[% translate 'My Part #' %]: {{::product.customerName}}</span>
                                        </div>

                                        <div class="price item-block__product__price" ng-if="!vm.failedToGetRealTimePrices">
                                            <isc-product-price product="product" id-key="" ng-if="::product.canShowPrice"></isc-product-price>
                                            <isc-product-price-saving product="product" currency-symbol="product.currencySymbol" ng-cloak></isc-product-price-saving>
                                            <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                                GSA
                                            </div>
                                            <div ng-if="product.priceCode != null && product.priceCode.length > 0" class="item-block__product__flag save">
                                                SAVE {{product.priceCode}}%
                                            </div>
                                            <span class="um displayUnitOfMeasure" ng-if="vm.showUnitOfMeasureLabel(product)">
                                                <span class="um-sep">/</span>
                                                <span class="selected-uom">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay}}</span>
                                            </span>
                                        </div>
                                        <div class="price" ng-if="vm.failedToGetRealTimePrices">
                                            <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                                        </div>
                                        <div class="um-pack" ng-if="product.canShowUnitOfMeasure">
                                            <div class="um">
                                                <label ng-if="::vm.showUnitOfMeasure(product)">[% translate 'U/M' %]:</label>
                                                <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{::vm.productSettings.alternateUnitsOfMeasure}}" display-pack="true" change-unit-of-measure="vm.changeUnitOfMeasure(product)"></isc-unit-of-measure-select-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');"><span class="ico-Truck"></span> Ships Today!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="tst_crossSellProduct_9dc8d8b9-87fd-e711-a98c-a3e0f1200094" class="medium-3 large-3 columns isc-productContainer tst_crossSellProduct_productContainer">
                            <div class="item-wrap">
                                <div class="carousel-item-equalize">
                                    <div class="favorite-btn" ng-if="vm.isAuthenticatedAndNotGuest">
                                        <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                           ng-click="vm.toggleFavorite(product)" role="button"
                                           class="btn secondary btn-add-to-list" href="javascript:;"></a>
                                    </div>
                                    <div class="thumb-wrap">
                                        <div class="item-thumb">
                                            <a ng-href="/circulation-desk-with-drawer-36w-x-30d-10022">
                                                <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?hei=250&id=Iu1rN2&fmt=jpg&fit=constrain,1&wid=250&hei=250" alt="" increment-images-loaded />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li>
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344" src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344">
                                                </div>
                                            </li>
                                            <li class="item-block__product__more-link"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-name">
                                        <a ng-href="#">Circulation Desk with Drawer - 36"W x 30"D</a>
                                    </div>

                                    <div class="product-info">
                                        <div class="item-num">
                                            <span class="item-num-sku">{{::product.erpNumber}}</span>
                                            <span class="item-num-mfg" ng-if="::(!!product.manufacturerItem)">[% translate 'MFG #' %]: {{::product.manufacturerItem}}</span>
                                            <span class="item-num-my" ng-if="::(!!product.customerName)">[% translate 'My Part #' %]: {{::product.customerName}}</span>
                                        </div>

                                        <div class="price item-block__product__price" ng-if="!vm.failedToGetRealTimePrices">
                                            <isc-product-price product="product" id-key="" ng-if="::product.canShowPrice"></isc-product-price>
                                            <isc-product-price-saving product="product" currency-symbol="product.currencySymbol" ng-cloak></isc-product-price-saving>
                                            <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                                GSA
                                            </div>
                                            <div ng-if="product.priceCode != null && product.priceCode.length > 0" class="item-block__product__flag save">
                                                SAVE {{product.priceCode}}%
                                            </div>
                                            <span class="um displayUnitOfMeasure" ng-if="vm.showUnitOfMeasureLabel(product)">
                                                <span class="um-sep">/</span>
                                                <span class="selected-uom">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay}}</span>
                                            </span>
                                        </div>
                                        <div class="price" ng-if="vm.failedToGetRealTimePrices">
                                            <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                                        </div>
                                        <div class="um-pack" ng-if="product.canShowUnitOfMeasure">
                                            <div class="um">
                                                <label ng-if="::vm.showUnitOfMeasure(product)">[% translate 'U/M' %]:</label>
                                                <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{::vm.productSettings.alternateUnitsOfMeasure}}" display-pack="true" change-unit-of-measure="vm.changeUnitOfMeasure(product)"></isc-unit-of-measure-select-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');"><span class="ico-Truck"></span> Ships Today!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="tst_crossSellProduct_9dc8d8b9-87fd-e711-a98c-a3e0f1200094" class="medium-3 large-3 columns isc-productContainer tst_crossSellProduct_productContainer">
                            <div class="item-wrap">
                                <div class="carousel-item-equalize">
                                    <div class="favorite-btn" ng-if="vm.isAuthenticatedAndNotGuest">
                                        <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                           ng-click="vm.toggleFavorite(product)" role="button"
                                           class="btn secondary btn-add-to-list" href="javascript:;"></a>
                                    </div>
                                    <div class="thumb-wrap">
                                        <div class="item-thumb">
                                            <a ng-href="/circulation-desk-with-drawer-36w-x-30d-10022">
                                                <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?hei=250&id=Iu1rN2&fmt=jpg&fit=constrain,1&wid=250&hei=250" alt="" increment-images-loaded />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li>
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344" src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344">
                                                </div>
                                            </li>
                                            <li class="item-block__product__more-link"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-name">
                                        <a ng-href="#">Circulation Desk with Drawer - 36"W x 30"D</a>
                                    </div>

                                    <div class="product-info">
                                        <div class="item-num">
                                            <span class="item-num-sku">{{::product.erpNumber}}</span>
                                            <span class="item-num-mfg" ng-if="::(!!product.manufacturerItem)">[% translate 'MFG #' %]: {{::product.manufacturerItem}}</span>
                                            <span class="item-num-my" ng-if="::(!!product.customerName)">[% translate 'My Part #' %]: {{::product.customerName}}</span>
                                        </div>

                                        <div class="price item-block__product__price" ng-if="!vm.failedToGetRealTimePrices">
                                            <isc-product-price product="product" id-key="" ng-if="::product.canShowPrice"></isc-product-price>
                                            <isc-product-price-saving product="product" currency-symbol="product.currencySymbol" ng-cloak></isc-product-price-saving>
                                            <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                                GSA
                                            </div>
                                            <div ng-if="product.priceCode != null && product.priceCode.length > 0" class="item-block__product__flag save">
                                                SAVE {{product.priceCode}}%
                                            </div>
                                            <span class="um displayUnitOfMeasure" ng-if="vm.showUnitOfMeasureLabel(product)">
                                                <span class="um-sep">/</span>
                                                <span class="selected-uom">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay}}</span>
                                            </span>
                                        </div>
                                        <div class="price" ng-if="vm.failedToGetRealTimePrices">
                                            <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                                        </div>
                                        <div class="um-pack" ng-if="product.canShowUnitOfMeasure">
                                            <div class="um">
                                                <label ng-if="::vm.showUnitOfMeasure(product)">[% translate 'U/M' %]:</label>
                                                <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{::vm.productSettings.alternateUnitsOfMeasure}}" display-pack="true" change-unit-of-measure="vm.changeUnitOfMeasure(product)"></isc-unit-of-measure-select-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');"><span class="ico-Truck"></span> Ships Today!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="tst_crossSellProduct_9dc8d8b9-87fd-e711-a98c-a3e0f1200094" class="medium-3 large-3 columns isc-productContainer tst_crossSellProduct_productContainer">
                            <div class="item-wrap">
                                <div class="carousel-item-equalize">
                                    <div class="favorite-btn" ng-if="vm.isAuthenticatedAndNotGuest">
                                        <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                           ng-click="vm.toggleFavorite(product)" role="button"
                                           class="btn secondary btn-add-to-list" href="javascript:;"></a>
                                    </div>
                                    <div class="thumb-wrap">
                                        <div class="item-thumb">
                                            <a ng-href="/circulation-desk-with-drawer-36w-x-30d-10022">
                                                <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?hei=250&id=Iu1rN2&fmt=jpg&fit=constrain,1&wid=250&hei=250" alt="" increment-images-loaded />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li>
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344" src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344">
                                                </div>
                                            </li>
                                            <li class="item-block__product__more-link"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-name">
                                        <a ng-href="#">Circulation Desk with Drawer - 36"W x 30"D</a>
                                    </div>

                                    <div class="product-info">
                                        <div class="item-num">
                                            <span class="item-num-sku">{{::product.erpNumber}}</span>
                                            <span class="item-num-mfg" ng-if="::(!!product.manufacturerItem)">[% translate 'MFG #' %]: {{::product.manufacturerItem}}</span>
                                            <span class="item-num-my" ng-if="::(!!product.customerName)">[% translate 'My Part #' %]: {{::product.customerName}}</span>
                                        </div>

                                        <div class="price item-block__product__price" ng-if="!vm.failedToGetRealTimePrices">
                                            <isc-product-price product="product" id-key="" ng-if="::product.canShowPrice"></isc-product-price>
                                            <isc-product-price-saving product="product" currency-symbol="product.currencySymbol" ng-cloak></isc-product-price-saving>
                                            <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                                GSA
                                            </div>
                                            <div ng-if="product.priceCode != null && product.priceCode.length > 0" class="item-block__product__flag save">
                                                SAVE {{product.priceCode}}%
                                            </div>
                                            <span class="um displayUnitOfMeasure" ng-if="vm.showUnitOfMeasureLabel(product)">
                                                <span class="um-sep">/</span>
                                                <span class="selected-uom">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay}}</span>
                                            </span>
                                        </div>
                                        <div class="price" ng-if="vm.failedToGetRealTimePrices">
                                            <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                                        </div>
                                        <div class="um-pack" ng-if="product.canShowUnitOfMeasure">
                                            <div class="um">
                                                <label ng-if="::vm.showUnitOfMeasure(product)">[% translate 'U/M' %]:</label>
                                                <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{::vm.productSettings.alternateUnitsOfMeasure}}" display-pack="true" change-unit-of-measure="vm.changeUnitOfMeasure(product)"></isc-unit-of-measure-select-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');"><span class="ico-Truck"></span> Ships Today!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="tst_crossSellProduct_9dc8d8b9-87fd-e711-a98c-a3e0f1200094" class="medium-3 large-3 columns isc-productContainer tst_crossSellProduct_productContainer">
                            <div class="item-wrap">
                                <div class="carousel-item-equalize">
                                    <div class="favorite-btn" ng-if="vm.isAuthenticatedAndNotGuest">
                                        <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                           ng-click="vm.toggleFavorite(product)" role="button"
                                           class="btn secondary btn-add-to-list" href="javascript:;"></a>
                                    </div>
                                    <div class="thumb-wrap">
                                        <div class="item-thumb">
                                            <a ng-href="/circulation-desk-with-drawer-36w-x-30d-10022">
                                                <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?hei=250&id=Iu1rN2&fmt=jpg&fit=constrain,1&wid=250&hei=250" alt="" increment-images-loaded />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li>
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344" src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/sti_cherry_zom?hei=200&amp;id=5-zsy2&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344">
                                                </div>
                                            </li>
                                            <li class="item-block__product__more-link"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-name">
                                        <a ng-href="#">Circulation Desk with Drawer - 36"W x 30"D</a>
                                    </div>

                                    <div class="product-info">
                                        <div class="item-num">
                                            <span class="item-num-sku">{{::product.erpNumber}}</span>
                                            <span class="item-num-mfg" ng-if="::(!!product.manufacturerItem)">[% translate 'MFG #' %]: {{::product.manufacturerItem}}</span>
                                            <span class="item-num-my" ng-if="::(!!product.customerName)">[% translate 'My Part #' %]: {{::product.customerName}}</span>
                                        </div>

                                        <div class="price item-block__product__price" ng-if="!vm.failedToGetRealTimePrices">
                                            <isc-product-price product="product" id-key="" ng-if="::product.canShowPrice"></isc-product-price>
                                            <isc-product-price-saving product="product" currency-symbol="product.currencySymbol" ng-cloak></isc-product-price-saving>
                                            <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                                GSA
                                            </div>
                                            <div ng-if="product.priceCode != null && product.priceCode.length > 0" class="item-block__product__flag save">
                                                SAVE {{product.priceCode}}%
                                            </div>
                                            <span class="um displayUnitOfMeasure" ng-if="vm.showUnitOfMeasureLabel(product)">
                                                <span class="um-sep">/</span>
                                                <span class="selected-uom">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay}}</span>
                                            </span>
                                        </div>
                                        <div class="price" ng-if="vm.failedToGetRealTimePrices">
                                            <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                                        </div>
                                        <div class="um-pack" ng-if="product.canShowUnitOfMeasure">
                                            <div class="um">
                                                <label ng-if="::vm.showUnitOfMeasure(product)">[% translate 'U/M' %]:</label>
                                                <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{::vm.productSettings.alternateUnitsOfMeasure}}" display-pack="true" change-unit-of-measure="vm.changeUnitOfMeasure(product)"></isc-unit-of-measure-select-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');"><span class="ico-Truck"></span> Ships Today!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex-control-wrap">
                    <a href="#" class="rp-wrap carousel-control-nav carousel-control-prev flex-prev"><span></span></a>
                    <div class="rp-wrap custom-controls-container">

                    </div>
                    <a href="#" class="rp-wrap carousel-control-nav carousel-control-next flex-next"><span></span></a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function () {

        // store the slider in a local variable
        var $window = $(window),
            flexslider = { vars: {} };

        // tiny helper function to add breakpoints
        function getGridSize() {
            return (window.innerWidth < 600) ? 2 :
                (window.innerWidth < 900) ? 3 : 4;
        }

        $(function () {
            SyntaxHighlighter.all();
        });

        $window.load(function () {
            $('.rp-carousel').flexslider({
                animation: "slide",
                animationLoop: false,
                itemWidth: 210,
                itemMargin: 36,
                controlsContainer: $(".rp-wrap.custom-controls-container"),
                customDirectionNav: $(".rp-wrap.carousel-control-nav"),
                minItems: getGridSize(), // use function to pull in initial value
                maxItems: getGridSize() // use function to pull in initial value
            });
        });

        // check grid size on resize event
        $window.resize(function () {
            var gridSize = getGridSize();

            flexslider.vars.minItems = gridSize;
            flexslider.vars.maxItems = gridSize;
        });
    })
</script>
