
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container category-list">
        <div class="row">
            <div class="medium-12 large-12 columns widget-1column">
                <ul class="category-list__wrap  row">
                    <li class="large-3 medium-4 small-12 column category-list__item">
                        <a href="#">
                            <div class="category-list__img-wrap">
                                <img class="category-list__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="category-list__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </li>
                    <li class="large-3 medium-4 small-12 column category-list__item">
                        <a href="#">
                            <div class="category-list__img-wrap">
                                <img class="category-list__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="category-list__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </li>
                    <li class="large-3 medium-4 small-12 column category-list__item">
                        <a href="#">
                            <div class="category-list__img-wrap">
                                <img class="category-list__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="category-list__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </li>
                    <li class="large-3 medium-4 small-12 column category-list__item">
                        <a href="#">
                            <div class="category-list__img-wrap">
                                <img class="category-list__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="category-list__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </li>
                    <li class="large-3 medium-4 small-12 column category-list__item">
                        <a href="#">
                            <div class="category-list__img-wrap">
                                <img class="category-list__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="category-list__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </li>
                    <li class="large-3 medium-4 small-12 column category-list__item">
                        <a href="#">
                            <div class="category-list__img-wrap">
                                <img class="category-list__img" src="https://cdnimg.webstaurantstore.com/images/expanded-descriptions/5/4/54537/fac1d1bf-eebf-ab64-2fef5ca0e13591df.jpg" />
                            </div>
                            <div class="category-list__title">
                                <h3>Desk</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="right">
                    <a href="#">See All Categories <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
