
<style type="text/css">
    .cell-one {
        background-image: url(https://assets.iamsteve.me/placeholder/1.jpg);
        background-color: #fff;
    }

    .cell-two {
        background-color: #fff;
        background-image:;
    }

    .cell-three {
        background-color: #fff;
        background-image:;
    }

    .cell-four {
        background-image: url(https://assets.iamsteve.me/placeholder/4.jpg);
        background-color: #fff;
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="grid">
                    <div class="grid-cell grid-50">
                        <div class="square cell-one square-100 style-1 bottomleft">
                            <div class="content">
                                <div class="v-center">
                                    <h3 class="text-orange">New Product</h3>
                                    <h3>Racetrack Conference Table</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-50">
                        <div class="square cell-two square-100 style-2 block-text">
                            <div class="content">
                                <div class="v-center">
                                    <h2>Transform your conference room with our striking Tabella Collection from NBF Signature Series. </h2>
                                    <a href="#" class="btn btn-secondary">Shop Conference</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-50">
                        <div class="square cell-three square-100 style-2 block-text">
                            <div class="content">
                                <div class="v-center">
                                    <h2>NBF exclusive vertical mesh makes this chair a perfect fit for the NBF Signature Series - and for your office.</h2>
                                    <a href="#" class="btn btn-secondary">Shop Signature Series</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-50 ">
                        <div class="square cell-four bottomright style-1 square-100">
                            <div class="content">
                                <div class="v-center">
                                    <h3 class="text-orange">Racetrack Conference Table</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
