
<style type="text/css">
    .callout-wrap {
        background-image: url('/userfiles/images/callouts/1200x480.gif');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="callout-wrap navy bottomright">
                    <div class="callout-content">
                        <h3>The Compete Guide To GSA Furniture.</h3>
                        <a href="#" class="callout-link">See More Rooms</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
