
<style type="text/css">
    .callout__img {
        background-image: url('/userfiles/images/callouts/1200x480.gif');
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="callout callout--[[Model.Style]] callout--[[Model.Position]]">
                    <div class="callout__img-wrap">
                        <div class="callout__img"></div>
                    </div>
                    <div class="callout__content">
                        <h3>The Compete Guide To GSA Furniture.</h3>
                        <a href="#" class="callout__link">See More Rooms</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
