<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="cta-link">
                    <ul class="row" data-equalizer>
                        [% zone 'CTA Link Widgets' %]
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
