<div class="row" ng-controller="NbfShopTheLookWidgetController as vm">
    <div class="medium-12 large-12 columns widget-1column narrow-container shopthelookdetail [[Model.CssClass]]" ng-cloak>
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div>
                    <h1 class="shopthelookdetail__title">{{vm.look.title}}</h1>
                </div>
                <p class="shopthelookdetail__page-desc">{{vm.look.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-12 large-7 columns">
                <div class="shopthelookdetail__image-col">
                    <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{vm.look.mainImage}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="[[Model.Title]]" />
                    <div class="hotspot has-tip link{{$index+1}}" style="{{hotSpot.hotSpotPosition}}" div id="{{hotSpot.product.id}}-{{$index+1}}" ng-click="vm.hotspot_clicked(hotSpot.product.id, $index)" ng-repeat="hotSpot in vm.look.productHotSpots | validateHotSpots">
                        <div class="tooltip">
                            <div class="tooltip__img">
                                <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{hotSpot.product.smallImagePath ? hotSpot.product.smallImagePath : hotSpot.product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{hotSpot.product.altText}}" />
                            </div>
                            <div class="tooltip__details">
                                <div class="tooltip__details__desc">
                                    {{hotSpot.product.shortDescription}}
                                </div>
                                <div class="tooltip__details__number">
                                    Item No: {{hotSpot.product.erpNumber}}
                                </div>
                                <div class="tooltip__details__price">
                                    <isc-product-price product="hotSpot.product"></isc-product-price>
                                </div>
                            </div>
                            <div class="tooltip__details__btn">
                                <a href="{{hotSpot.product.productDetailUrl}}" class="btn btn-primary">See Product Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-12 large-5 columns end" ng-cloak>
                <div class="shopthelookdetail__room-details">
                    <div class="shopthelookdetail__list-col">
                        <h4 class="shopthelookdetail__list-title">Shop The Room</h4>
                        <ul>
                            <li ng-repeat="hotSpot in vm.look.productHotSpots">
                                <div class="shopthelookdetail__list-item">
                                    <div class="shopthelookdetail__list-item__image">
                                        <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{hotSpot.product.smallImagePath ? hotSpot.product.smallImagePath : hotSpot.product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{hotSpot.product.altText}}" />
                                    </div>
                                    <a id="tst_productDetail_addToWishList" ng-if="vm.isAuthenticated" ng-class="{'in-favorites': vm.product.properties['isFavorite'] == 'true' } "
                                       ng-click="vm.toggleFavorite(vm.product)" role="button"
                                       class="btn secondary btn-add-to-list" href="javascript:;">{{vm.product.properties['isFavorite'] == "false" ? "Add To Favorites" : "Remove From Favorites"}}</a>
                                    <div class="shopthelookdetail__list-item__details-wrap">
                                        <div class="shopthelookdetail__list-item__details">
                                            <div class="shopthelookdetail__list-item__desc">
                                                {{hotSpot.product.shortDescription}}
                                            </div>
                                            <div class="shopthelookdetail__list-item__number">
                                                Item No: {{hotSpot.product.erpNumber}}
                                            </div>
                                            <div class="shopthelookdetail__list-item__price">
                                                <isc-product-price product="hotSpot.product"></isc-product-price>
                                            </div>
                                            <div class="shopthelookdetail__list-item__btn">
                                                <a href="{{hotSpot.product.productDetailUrl}}" class="btn btn-primary">See Product Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
