
<style>
    .link1 {
        top:23%;
        left:78%;
    }
    .link2 {
        top:79%;
        left:23%;
    }
    .link3 {
        top:50%;
        left:50%;
    }
</style>

<div class="row"  ng-controller="NbfShopTheLookDetailsController as vm">
    <div class="medium-12 large-12 columns widget-1column no-margin shopthelookdetail shopthelookwidget [[Model.CssClass]]">
        <div class="row">
            <div class="small-12 columns">
               <div class="shopthelookdetail__image-col">
                   <div>
                       <img src="https://i.pinimg.com/originals/9d/fa/6b/9dfa6bbbaafeed0614384678a8b2d9d7.jpg" />
                       <div class="hotspot has-tip link1">
                           <div class="tooltip">
                               <div class="tooltip__img">
                                   <img src="https://soimagescdn.azureedge.net/productimage/learniture/lnt-inm3016-so_navy.jpg?width=115&height=115&version=v20171222"/>
                               </div>
                               <div class="tooltip__details">
                                   <div class="tooltip__details__desc">
                                       Kreature Mid-Back Desk Chair
                                   </div>
                                   <div class="tooltip__details__number">
                                       Item No: 50586
                                   </div>
                                   <div class="tooltip__details__price">
                                      $395
                                   </div>
                               </div>
                               <div class="tooltip__details__btn">
                                   <a href="http://www.google.com/" class="btn btn-primary">See Product Details</a>
                               </div>
                           </div>
                       </div>
                       <div class="hotspot has-tip link2">
                           <div class="tooltip">
                               <div class="tooltip__img">
                                   <img src="https://soimagescdn.azureedge.net/productimage/learniture/lnt-inm3016-so_navy.jpg?width=115&height=115&version=v20171222" />
                               </div>
                               <div class="tooltip__details">
                                   <div class="tooltip__details__desc">
                                       Kreature Mid-Back Desk Chair
                                   </div>
                                   <div class="tooltip__details__number">
                                       Item No: 50586
                                   </div>
                                   <div class="tooltip__details__price">
                                       $395
                                   </div>
                               </div>
                               <div class="tooltip__details__btn">
                                   <a href="http://www.google.com/" class="btn btn-primary">See Product Details</a>
                               </div>
                           </div>
                       </div>
                       <div class="hotspot has-tip link3">
                           <div class="tooltip">
                               <div class="tooltip__img">
                                   <img src="https://soimagescdn.azureedge.net/productimage/learniture/lnt-inm3016-so_navy.jpg?width=115&height=115&version=v20171222" />
                               </div>
                               <div class="tooltip__details">
                                   <div class="tooltip__details__desc">
                                       Kreature Mid-Back Desk Chair
                                   </div>
                                   <div class="tooltip__details__number">
                                       Item No: 50586
                                   </div>
                                   <div class="tooltip__details__price">
                                       $395
                                   </div>
                               </div>
                               <div class="tooltip__details__btn">
                                   <a href="http://www.google.com/" class="btn btn-primary">See Product Details</a>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="shopthelookwidget__content shopthelookwidget__content--topleft">
                       <h1>Shop The Look</h1>
                       <a href="[[Model.ButtonUrl1]]" class="">See More Rooms <i class="ico-RightArrow ico-RightArrow--orange"></i></a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
