<div class="row" ng-controller="NbfShopTheLookWidgetController as vm"
     pr-api-key="[% siteMessage 'PowerReviews_ApiKey' '56b8fc6a-79a7-421e-adc5-36cbdaec7daf ' %]"
     pr-merchant-group-id="[% siteMessage 'PowerReviews_MerchantGroupId' '47982' %]"
     pr-merchant-id="[% siteMessage 'PowerReviews_MerchantId' '33771' %]" ng-cloak>
    <isc-catalog-breadcrumb breadcrumbs="vm.breadCrumbs" search-query="query"></isc-catalog-breadcrumb>
    <div class="shopthelookdetail [[Model.CssClass]]">
        <div ng-show="vm.notFound" class="medium-12 large-12 columns widget-1column narrow-container">
            <div class="row">
                [[Model.NoResultsContent]]
            </div>
        </div>
        <div ng-hide="vm.notFound" class="medium-12 large-12 columns widget-1column narrow-container">
            <div class="row">
                <div class="medium-12 large-12 columns">
                    <div>
                        <h1 class="shopthelookdetail__title">{{vm.look.title}}</h1>
                    </div>
                    <p class="shopthelookdetail__page-desc">{{vm.look.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 large-7 columns">
                    <div class="shopthelookdetail__image-col">
                        <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{vm.look.mainImage}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{vm.look.description}}" />
                        <div class="hotspot has-tip link{{$index+1}}" style="{{hotSpot.hotSpotPosition}}" div id="{{hotSpot.product.id}}-{{$index+1}}" ng-click="vm.hotspotClicked(hotSpot.product.id, $index)" ng-repeat="hotSpot in vm.look.productHotSpots | validateHotSpots">
                            <div class="tooltip">
                                <div class="tooltip__img">
                                    <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{hotSpot.product.smallImagePath ? hotSpot.product.smallImagePath : hotSpot.product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{hotSpot.product.altText}}" />
                                </div>
                                <div class="tooltip__details">
                                    <div class="tooltip__details__desc">
                                        {{hotSpot.product.shortDescription}}
                                    </div>
                                    <div class="tooltip__details__number">
                                        Item No: {{hotSpot.product.erpNumber}}
                                    </div>
                                    <div class="tooltip__details__price">
                                        <isc-product-price product="hotSpot.product"></isc-product-price>
                                    </div>
                                </div>
                                <div class="tooltip__details__btn">
                                    <a href="{{hotSpot.product.productDetailUrl}}" class="btn btn-primary">See Product Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-12 large-5 columns end" ng-cloak>
                    <div class="shopthelookdetail__room-details">
                        <div class="shopthelookdetail__list-col">
                            <h4 class="shopthelookdetail__list-title">Shop The Room</h4>
                            <ul>
                                <li ng-repeat="hotSpot in vm.look.productHotSpots | validateHotSpots">
                                    <div class="shopthelookdetail__list-item">
                                        <div class="shopthelookdetail__list-item__image">
                                            <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{hotSpot.product.smallImagePath ? hotSpot.product.smallImagePath : hotSpot.product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{hotSpot.product.altText}}" />
                                            <a id="tst_productDetail_addToWishList" ng-if="vm.isAuthenticated" ng-class="{'in-favorites': hotSpot.product.properties['isFavorite'] == 'true'}"
                                               ng-click="vm.toggleFavorite(hotSpot.product)" role="button"
                                               class="btn secondary btn-add-to-list" href="javascript:;"></a>
                                        </div>
                                        <div class="shopthelookdetail__list-item__details-wrap">
                                            <div class="shopthelookdetail__list-item__details">
                                                <div class="shopthelookdetail__list-item__desc">
                                                    {{hotSpot.product.shortDescription}}
                                                </div>
                                                <div class="shopthelookdetail__list-item__number">
                                                    Item No: {{hotSpot.product.erpNumber}}
                                                </div>
                                                <div class="shopthelookdetail__list-item__price">
                                                    <isc-product-price product="hotSpot.product"></isc-product-price>
                                                </div>
                                                <div class="shopthelookdetail__list-item__btn">
                                                    <a href="{{hotSpot.product.productDetailUrl}}" class="btn btn-primary">See Product Details</a>
                                                </div>
                                                <div id="pr-{{hotSpot.product.productCode}}" style="display: none;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 large-12 columns widget-1column">
                    <div class="featured-product__title">
                        <h2>[% siteMessage 'ShopTheLook_Detail_ExtraProducts1Title' 'Featured Accessories' %]</h2>
                    </div>
                </div>
                <div class="medium-12 large-12 columns widget-1column featured-product">
                    <div class="featured-product-wrap four-col__item-container">
                        <div class="item-block__product four-col__item" ng-repeat="product in vm.look.productHotSpots | featuredAccessories">
                            <div class="favorite-btn" ng-if="vm.isAuthenticated">
                                <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                   ng-click="vm.toggleFavorite(product)" role="button"
                                   class="btn secondary btn-add-to-list" href="javascript:;"></a>
                            </div>
                            <a href="{{product.productDetailUrl}}">
                                <div class="item-block__product__img-wrap">
                                    <img class="item-block__product__img" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{product.smallImagePath ? product.smallImagePath : product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{product.altText}}" increment-images-loaded />
                                </div>
                                <div class="item-block__product__details">
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li ng-repeat="swatchImg in vm.getTop3Swatches(product.properties['swatches'])">
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{swatchImg}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" />
                                                </div>
                                            </li>
                                            <li class="right" ng-if="vm.getSwatchesCount(product.properties['swatches']) > 3"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-block__product__desc">
                                        {{product.shortDescription}}
                                    </div>
                                    <div class="item-block__product__price-wrap">
                                        <div class="item-block__product__price">
                                            <isc-product-price product="product"></isc-product-price>
                                            <isc-product-price-saving product="product"></isc-product-price-saving>
                                        </div>
                                        <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                            GSA
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');">
                                                <span class="ico-Truck"></span> Ships Today!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 large-12 columns widget-1column">
                    <div class="featured-product__title">
                        <h2>[% siteMessage 'ShopTheLook_Detail_ExtraProducts2Title' 'Featured Products' %]</h2>
                    </div>
                </div>
                <div class="medium-12 large-12 columns widget-1column featured-product">
                    <div class="featured-product-wrap four-col__item-container">
                        <div class="item-block__product four-col__item" ng-repeat="product in vm.look.productHotSpots | featuredProducts">
                            <div class="favorite-btn" ng-if="vm.isAuthenticated">
                                <a id="tst_productDetail_addToWishList" ng-class="{'in-favorites': product.properties['isFavorite'] == 'true' } "
                                   ng-click="vm.toggleFavorite(product)" role="button"
                                   class="btn secondary btn-add-to-list" href="javascript:;"></a>
                            </div>
                            <a href="{{product.productDetailUrl}}">
                                <div class="item-block__product__img-wrap">
                                    <img class="item-block__product__img" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{product.smallImagePath ? product.smallImagePath : product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{product.altText}}" increment-images-loaded />
                                </div>
                                <div class="item-block__product__details">
                                    <div class="item-block__product__swatch">
                                        <ul>
                                            <li ng-repeat="swatchImg in vm.getTop3Swatches(product.properties['swatches'])">
                                                <div class="item-block__product__swatch__img-wrap">
                                                    <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{swatchImg}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" />
                                                </div>
                                            </li>
                                            <li class="right" ng-if="vm.getSwatchesCount(product.properties['swatches']) > 3"><u>More</u></li>
                                        </ul>
                                    </div>
                                    <div class="item-block__product__desc">
                                        {{product.shortDescription}}
                                    </div>
                                    <div class="item-block__product__price-wrap">
                                        <div class="item-block__product__price">
                                            <isc-product-price product="product"></isc-product-price>
                                            <isc-product-price-saving product="product"></isc-product-price-saving>
                                        </div>
                                        <div ng-if="vm.isAttributeValue(product, 'GSA', 'Yes');" class="item-block__product__flag gsa">
                                            GSA
                                        </div>
                                    </div>
                                    <div class="item-block__product__col-2 clearfix">
                                        <div class="col-1">
                                            <div id="pr-{{product.productCode}}" class="item-block__product__stars">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="item-block__product__ships-today" ng-if="vm.isAttributeValue(product, 'Ships Today', 'Yes');">
                                                <span class="ico-Truck"></span> Ships Today!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
