
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="cta-link">
                    <ul class="row" data-equalizer>
                        <li class="medium-4 small-12 column">
                            <div class="cta-link__item">
                                <div  data-equalizer-watch>
                                    <img class="cta-link__icon" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Download-Icon.png" />
                                    <h2 class="cta-link__title">NBF Gauranteel</h2>
                                    <p>Our products are covered with a Lifetime Guarantee so you can rest easy knowing we'll take care of your needs.</p>
                                    <a href="#" class="cta-link__btn btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </li>
                        <li class="medium-4 small-12 column">
                            <div class="cta-link__item">
                                <div  data-equalizer-watch>
                                    <img class="cta-link__icon" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Download-Icon.png" />
                                    <h2 class="cta-link__title">Customer Testimonial</h2>
                                    <p>Don't take our word for it, see what our customers say.</p>
                                    <a href="#" class="cta-link__btn btn btn-primary">See More</a>
                                </div>
                            </div>
                        </li>
                        <li class="medium-4 small-12 column">
                            <div class="cta-link__item">
                                <div  data-equalizer-watch>
                                    <img class="cta-link__icon" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Download-Icon.png" />
                                    <h2 class="cta-link__title">Sustainability</h2>
                                    <p>At NBF, we recognize the importance of incorporating environmental stewardship in the conduct of business.</p>
                                    <a href="#" class="cta-link__btn btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
