// Breakpoints
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1025px;
$xlarge-screen: 1441px;
$xxlarge-screen: 1921px;

// Typography
$base-font-family: "ProximaNova",Arial,sans-serif;
$ProximaNova: "ProximaNova",Arial,sans-serif;
$ProximaNova-bold: "ProximaNova Bold",Arial,sans-serif;
$ProximaNova-italic: "ProximaNova Italic",Arial,sans-serif;
$ProximaNova-bold-italic: "ProximaNova Bold Italic",Arial,sans-serif;
$ProximaNova-light: "ProximaNova Light",Arial,sans-serif;
$ProximaNova-light-italic: "ProximaNova Light Italic",Arial,sans-serif;
$ProximaNova-exbold: "ProximaNova Exrta Bold",Arial,sans-serif;
$ProximaNova-semibold: "ProximaNova Semibold",Arial,sans-serif;
$heading-font-family: $base-font-family;
$FontAwesome: "FontAwesome";
$icomoon: "icomoon";

// Font Sizes
$base-font-size: 15px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$nbf-orange: #CB563E;
$nbf-navy: #333E48;
$nbf-navy-95: rgba(51, 62, 72, 0.95);
$nbf-charcoal: #404042;
$nbf-gray: #868889;
$nbf-font-gray: #737373;
$nbf-white: #fff;
$nbf-white-95:rgba(255, 255, 255, 0.95);
$nbf-black:#2E2A2B;
$nbf-nav-navy:#28313B;
// Font Colors
$base-font-color: $nbf-black;
$action-color: $nbf-orange;
$divider-gray: #D5D5D5;

// Border
$base-border-color: #d9d9d9;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
