/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[ProductId]
      ,[Name]
      ,[SmallImagePath]
      ,[MediumImagePath]
      ,[LargeImagePath]
      ,[AltText]
      ,[SortOrder]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
  FROM [Insite.NBF].[dbo].[ProductImage]

  https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?wid=600&amp;id=gWQsd0&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344
  https://s7d9.scene7.com/is/image/NationalBusinessFurniture/STI-10022_zom?wid=600&amp;id=gWQsd0&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=344&amp;hei=344