<div class="row">
    <div class="latest-blog medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="latest-blog__container">
            [% for page in Model.Drop.PageLinks -%]
            <div class="latest-blog__item">
                <a href="[[page.Url]]">
                    <div class="latest-blog__image" style="background-image: url('[[page.BackgroundImageUrl]]');background-position:[[page.BackgroundImageFocalPosition]];">
                    </div>
                    <div class="latest-blog__desc">
                        <h4>[[page.Title]]</h4>
                        <p>[[page.Summary]]</p>
                    </div>
                </a>
            </div>
            [% endfor -%]            
        </div>
    </div>
</div>