<div class="comments__info">
    <span class="comments__author">[[Model.NameOfCommenter]]</span><span class="comments__post-time"><i class="fa fa-clock-o"></i> [[Model.DateDifference]]</span>
</div>
<div class="comments__comment">
    [[Model.Comment]]
</div>