
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container featured-product-widget">
        <div class="row">
            <div class="medium-12 large-12 columns widget-1column">
                <div class="featured-product-title">
                    <h2>Featured Products</h2>
                </div>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="featured-product-wrap">
                    <div class="item-wrap">
                        <div class="product-img-wrap">
                            <img class="product-img" src="http://www.pinegladebuilding.com/wp-content/uploads/2016/09/PFACCHB-Folding-Adirondack-Chair-Cherrywood-Black-273x300.jpg" />
                        </div>
                        <div class="product-details">
                            <div class="swatches">
                                <ul>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                </ul>
                            </div>
                            <div class="product-desc">
                                High-Back Mesh Chair with Seat Slider
                            </div>
                            <div class="product-price-wrap">
                                <div class="product-price">
                                    <h4 class="text-orange">$150</h4> <span>was $300</span>
                                </div>
                                <div class="flag">
                                    flag
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-wrap">
                        <div class="product-img-wrap">
                            <img class="product-img" src="http://www.pinegladebuilding.com/wp-content/uploads/2016/09/PFACCHB-Folding-Adirondack-Chair-Cherrywood-Black-273x300.jpg" />
                        </div>
                        <div class="product-details">
                            <div class="swatches">
                                <ul>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                </ul>
                            </div>
                            <div class="product-desc">
                                High-Back Mesh Chair with Seat Slider
                            </div>
                            <div class="product-price-wrap">
                                <div class="product-price">
                                    <h4 class="text-orange">$150</h4> <span>was $300</span>
                                </div>
                                <div class="flag">
                                    flag
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-wrap">
                        <div class="product-img-wrap">
                            <img class="product-img" src="http://www.pinegladebuilding.com/wp-content/uploads/2016/09/PFACCHB-Folding-Adirondack-Chair-Cherrywood-Black-273x300.jpg" />
                        </div>
                        <div class="product-details">
                            <div class="swatches">
                                <ul>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                </ul>
                            </div>
                            <div class="product-desc">
                                High-Back Mesh Chair with Seat Slider
                            </div>
                            <div class="product-price-wrap">
                                <div class="product-price">
                                    <h4 class="text-orange">$150</h4> <span>was $300</span>
                                </div>
                                <div class="flag">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-wrap">
                        <div class="product-img-wrap">
                            <img class="product-img" src="http://www.pinegladebuilding.com/wp-content/uploads/2016/09/PFACCHB-Folding-Adirondack-Chair-Cherrywood-Black-273x300.jpg" />
                        </div>
                        <div class="product-details">
                            <div class="swatches">
                                <ul>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                    <li><a href="#"><img class="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" /></a></li>
                                </ul>
                            </div>
                            <div class="product-desc">
                                High-Back Mesh Chair with Seat Slider
                            </div>
                            <div class="product-price-wrap">
                                <div class="product-price">
                                    <h4 class="text-orange">$150</h4> <span>was $300</span>
                                </div>
                                <div class="flag">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="right">
                    <a href="#">See All Categories <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
