
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container four-col featured-product">
        <div class="row">
            <div class="medium-12 large-12 columns widget-1column">
                <div class="featured-product__title">
                    <h2>Featured Products</h2>
                </div>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="featured-product-wrap four-col__item-container">
                    <div class="item-block__product four-col__item">
                        <a href="#">
                            <div class="item-block__product__img-wrap">
                                <img class="item-block__product__img" src="https://i.ebayimg.com/images/g/bVUAAOSwYwJaN8RL/s-l300.jpg" />
                                <div class="item-block__product__compare product-compare-add">
                                    <span data-id="{{product.id}}" class="compare-link" ng-class="{ 'compare-active': product.isBeingCompared }" ng-click="vm.compareProduct(product);">[% translate 'Compare' %]</span>
                                </div>
                            </div>
                            <div class="item-block__product__details">
                                <div class="item-block__product__swatch">
                                    <ul>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li class="right"><u>More</u></li>
                                    </ul>
                                </div>
                                <div class="item-block__product__desc">
                                    High-Back Mesh Chair with Seat Slider
                                </div>
                                <div class="item-block__product__price-wrap">
                                    <div class="item-block__product__price">
                                        <h4 class="text-orange">$150</h4> <span class="strike ori-price-tag">Was $200</span>
                                    </div>
                                    <div class="flag">
                                        flag
                                    </div>
                                </div>
                                <div class="item-block__product__col-2">
                                    <div class="col-1">
                                        <div class="item-block__product__stars"><div class="rating"></div>Stars Here!</div>
                                    </div>
                                    <div class="col-2">
                                        <div class="item-block__product__ships-today"><span class="ico-Truck"></span> Ships Today!</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-block__product four-col__item">
                        <a href="#">
                            <div class="item-block__product__img-wrap">
                                <img class="item-block__product__img" src="https://i.ebayimg.com/images/g/bVUAAOSwYwJaN8RL/s-l300.jpg" />
                                <div class="item-block__product__compare product-compare-add">
                                    <span data-id="{{product.id}}" class="compare-link" ng-class="{ 'compare-active': product.isBeingCompared }" ng-click="vm.compareProduct(product);">[% translate 'Compare' %]</span>
                                </div>
                            </div>
                            <div class="item-block__product__details">
                                <div class="item-block__product__swatch">
                                    <ul>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li class="right"><u>More</u></li>
                                    </ul>
                                </div>
                                <div class="item-block__product__desc">
                                    High-Back Mesh Chair with Seat Slider High-Back Mesh Chair with Seat Slider High-Back Mesh Chair with Seat Slider
                                </div>
                                <div class="item-block__product__price-wrap">
                                    <div class="item-block__product__price">
                                        <h4 class="text-orange">$150</h4> <span class="ori-price-tag">and lower</span>
                                    </div>
                                    <div class="flag">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 medium-6 columns">
                                        <div class="item-block__product__stars">Stars Here!</div>
                                    </div>
                                    <div class="small-12 medium-6 columns end">
                                        <div class="item-block__product__ships-today"><span class="ico-Truck"></span> Ships Today!</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-block__product four-col__item">
                        <a href="#">
                            <div class="item-block__product__img-wrap">
                                <img class="item-block__product__img" src="https://i.ebayimg.com/images/g/bVUAAOSwYwJaN8RL/s-l300.jpg" />
                                <div class="item-block__product__compare product-compare-add">
                                    <span data-id="{{product.id}}" class="compare-link" ng-class="{ 'compare-active': product.isBeingCompared }" ng-click="vm.compareProduct(product);">[% translate 'Compare' %]</span>
                                </div>
                            </div>
                            <div class="item-block__product__details">
                                <div class="item-block__product__swatch">
                                    <ul>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li class="right"><u>More</u></li>
                                    </ul>
                                </div>
                                <div class="item-block__product__desc">
                                    High-Back Mesh Chair with Seat Slider
                                </div>
                                <div class="item-block__product__price-wrap">
                                    <div class="item-block__product__price">
                                        <h4 class="text-orange">$150</h4> <span class="ori-price-tag">and lower</span>
                                    </div>
                                    <div class="flag">
                                        flag
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 medium-6 columns">
                                        <div class="item-block__product__stars">Stars Here!</div>
                                    </div>
                                    <div class="small-12 medium-6 columns end">
                                        <div class="item-block__product__ships-today"><span class="ico-Truck"></span> Ships Today!</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-block__product four-col__item">
                        <a href="#">
                            <div class="item-block__product__img-wrap">
                                <img class="item-block__product__img" src="https://i.ebayimg.com/images/g/bVUAAOSwYwJaN8RL/s-l300.jpg" />
                                <div class="item-block__product__compare product-compare-add">
                                    <span data-id="{{product.id}}" class="compare-link" ng-class="{ 'compare-active': product.isBeingCompared }" ng-click="vm.compareProduct(product);">[% translate 'Compare' %]</span>
                                </div>
                            </div>
                            <div class="item-block__product__details">
                                <div class="item-block__product__swatch">
                                    <ul>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        <li>
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" src="http://demandware.edgesuite.net/aaqz_prd/on/demandware.static/-/Sites-MandCo-Master/default/dwe8e3cc47/7421753_black_p_swatch.jpg" />
                                            </div>
                                        </li>
                                        <li class="right"><u>More</u></li>
                                    </ul>
                                </div>
                                <div class="item-block__product__desc">
                                    High-Back Mesh Chair with Seat Slider
                                </div>
                                <div class="item-block__product__price-wrap">
                                    <div class="item-block__product__price">
                                        <h4 class="text-orange">$150</h4> <span class="ori-price-tag">and lower</span>
                                    </div>
                                    <div class="flag">
                                        flag
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 medium-6 columns">
                                        <div class="item-block__product__stars">Stars Here!</div>
                                    </div>
                                    <div class="small-12 medium-6 columns end">
                                        <div class="item-block__product__ships-today"><span class="ico-Truck"></span> Ships Today!</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="float-md-right">
                    <a href="#">See All Categories <i class="ico-RightArrow ico-RightArrow--orange"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
