<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container four-col featured-product">
        <div class="row">
            <div class="medium-12 large-12 columns widget-1column">
                <div class="featured-product__title">
                    <h1>[[Model.Title]]</h1>
                </div>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="featured-product-wrap four-col__item-container" ng-controller="FeaturedProductsWidgetController as vm" product-id-string="[[Model.ProductString]]" ng-cloak>
                    <div class="item-block__product four-col__item" ng-repeat="product in vm.products">
                        <a href="{{product.productDetailUrl}}">
                            <div class="item-block__product__img-wrap">
                                <img class="item-block__product__img" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{product.smallImagePath ? product.smallImagePath : product.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{product.altText}}" />
                                <div class="item-block__product__compare product-compare-add">
                                    <span data-id="{{product.id}}" class="compare-link" ng-class="{ 'compare-active': product.isBeingCompared }" ng-click="vm.compareProduct(product);">[% translate 'Compare' %]</span>
                                </div>
                            </div>
                            <div class="item-block__product__details">
                                <div class="item-block__product__swatch">
                                    <ul>
                                        <li ng-repeat="productImg in product.productImages">
                                            <div class="item-block__product__swatch__img-wrap">
                                                <img class="item-block__product__swatch" ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{productImg.smallImagePath ? productImg.smallImagePath : productImg.mediumImagePath}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344" alt="{{productImg.altText}}" increment-images-loaded />
                                            </div>
                                        </li>                                        
                                        <li class="right"><u>More</u></li>
                                    </ul>
                                </div>
                                <div class="item-block__product__desc">
                                    {{product.shortDescription}}
                                </div>
                                <div class="item-block__product__price-wrap">
                                    <div class="item-block__product__price">
                                        <h3 class="text-orange">{{product.actualPriceDisplay}}</h3> <span class="strike ori-price-tag" ng-if="product.isOnSale">Was {{product.regularPriceDisplay}}</span>
                                    </div>
                                    <div class="item-block__product__flag">
                                        flag
                                    </div>
                                </div>
                                <div class="item-block__product__col-2">
                                    <div class="col-1">
                                        <div class="item-block__product__stars"><div class="rating"></div>Stars Here!</div>
                                    </div>
                                    <div class="col-2">
                                        <div class="item-block__product__ships-today"><span class="ico-Truck"></span> Ships Today!</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>                    
                </div>
            </div>
            <div class="medium-12 large-12 columns widget-1column">
                <div class="float-md-right">
                    <a href="[[Model.AllCategoriesUrl]]">[[Model.AllCategoriesText]] <i class="ico-RightArrow ico-RightArrow--orange"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
