<style type="text/css">
.callout_[[Model.Id]] { background-image: url('[[Model.BackgroundImage]]'); }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="callout callout--[[Model.StyleFormatted]] callout--[[Model.PositionFormatted]]">
                    <div class="callout__img-wrap">
                        <div aria-labelledby="[[Model.SubTitle]]" class="callout__img callout_[[Model.Id]]"></div>
                    </div>
                    <div class="callout__content">
                        <h3>[[Model.Title]]</h3>
                        <a href="[[Model.Link]]" class="callout__link">[[Model.SubTitle]]<span class="ico ico-RightArrow"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
