
<style type="text/css">
    .cell-one {
        [% if Model.BackgroundImage1 != null and Model.BackgroundImage1 != "" -%] 
        background-image: url('[[Model.BackgroundImage1]]');
        [% endif -%] 
        background-color: #fff;
    }

    .cell-two {
        [% if Model.BackgroundImage2 != null and Model.BackgroundImage2 != "" -%] 
        background-image: url('[[Model.BackgroundImage2]]');
        [% endif -%] 
        background-color: #fff;
    }

    .cell-three {
        [% if Model.BackgroundImage3 != null and Model.BackgroundImage3 != "" -%] 
        background-image: url('[[Model.BackgroundImage3]]');
        [% endif -%] 
        background-color: #fff;
    }

    .cell-four {
        [% if Model.BackgroundImage4 != null and Model.BackgroundImage4 != "" -%] 
        background-image: url('[[Model.BackgroundImage4]]');
        [% endif -%] 
        background-color: #fff;
    }
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div class="grid">
                    <div class="grid-cell grid-50">
                        <div class="square cell-one square-100 style-1 bottomleft">
                            <div class="content">
                                <div class="v-center">
                                    <h4 class="text-orange">[[Model.Title1]]</h4>
                                    <h4>[[Model.SubTitle1]]</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-50">
                        <div class="square cell-two square-100 style-2 block-text">
                            <div class="content">
                                <div class="v-center">
                                    <h3>[[Model.Title2]]</h3>
                                    <a href="[[Model.Url2]]" class="btn btn-secondary">[[Model.ButtonText2]]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-50">
                        <div class="square cell-three square-100 style-2 block-text">
                            <div class="content">
                                <div class="v-center">
                                    <h3>[[Model.Title3]]</h3>
                                    <a href="[[Model.Url3]]" class="btn btn-secondary">[[Model.ButtonText3]]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-50 ">
                        <div class="square cell-four bottomright style-1 square-100">
                            <div class="content">
                                <div class="v-center">
                                    <h4 class="text-orange">[[Model.Title4]]</h4>
                                    <h4>[[Model.SubTitle4]]</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
