<div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]">
    <div class="row">
        <div class="address-list">
            <h3>Billing Address</h3>
            <ul class="row large-block-grid-4 medium-block-grid-2" data-equalizer>
                <li class="">
                    <div class="address-item"  data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="shipping-list">
            <h3>Shipping Address</h3>
            <ul class="row large-block-grid-4 medium-block-grid-2" data-equalizer>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 2078731 Major Way Ste 2078731 Major Way Ste 2078731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
                <li class="">
                    <div class="address-item" data-equalizer-watch>
                        <a href="#" class="edit-btn edit-icon"><i class="fa fa-edit"></i></a>
                        <div class="name">John Smith</div>
                        <div class="company-name">Smith Consulting</div>
                        <div class="address1">8731 Major Way Ste 207</div>
                        <div class="address2">City Name, ST 00234</div>
                        <div class="phone">Phone: (111) 111-0000</div>
                        <div class="email">Email: Info@email.com</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<isc-popup-template title="[% translate 'Address Saved'%]" container-id="saveSuccess">
    [% translate 'Address Saved'%]
</isc-popup-template>

<script type="text/ng-template" id="/PartialViews/Account-AddressEdit">
    [% partialView 'Account-AddressEdit' %]
</script>
<script type="text/ng-template" id="/PartialViews/Account-AddressField">
    [% partialView 'Account-AddressField' %]
</script>
