<div class="medium-12 large-12 columns widget-1column narrow-container [[Model.CssClass]]" ng-controller="NbfMyAccountAddressController as vm" ng-show="vm.countries" ng-cloak>
    <div class="row">
        <div class="large-12 columns">
            <div class="address-list">
                <h3>[% translate 'Billing Address' %]</h3>
                <div class="row">
                    <ul class="large-block-grid-4 medium-block-grid-2" data-equalizer>
                        <li>
                            <div class="address-item" data-equalizer-watch ng-hide="vm.billTo.properties['edit'] == 'true'" id="shipToBillTo">
                                <a ng-click="vm.editAddress(vm.billTo)" class="edit-btn edit-icon" ng-hide="vm.editMode"><i class="fa fa-edit"></i></a>
                                <div class="name">{{vm.billTo.firstName}} {{vm.billTo.lastName}}</div>
                                <div class="company-name">{{vm.billTo.companyName}}</div>
                                <div class="address1">{{vm.billTo.address1}}</div>
                                <div class="address2" ng-if="vm.billTo.address2">{{vm.billTo.address2}}</div>
                                <div class="phone" ng-if="vm.billTo.phone">Phone: {{vm.billTo.phone}}</div>
                                <div class="email" ng-if="vm.billTo.email">Email: {{vm.billTo.email}}</div>
                            </div>
                            <form id="addressForm" ng-if="vm.billTo.properties['edit'] == 'true'" class="shortform">
                                <nbf-address-edit prefix="bt" address="vm.billTo" countries="vm.countries" address-fields="vm.addressFields.billToAddressFields"
                                                  is-email-read-only="true" set-state-required-rule="vm.setStateRequiredRule('bt', vm.billTo)"></nbf-address-edit>
                                <div class="btns">
                                    <button type="button" id="tst_addressForm_save" class="btn primary btn-save" ng-click="vm.saveAddress('BillTo')">[% translate 'Save' %]</button>
                                    <button type="button" class="btn btn-secondary btn-save left" ng-click="vm.cancelEdit(vm.billTo, 'BillTo')">[% translate 'Cancel' %]</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shipping-list" id="shipToSection">
                <h3>Shipping Address</h3>
                <div class="row">
                    <ul class="large-block-grid-4 medium-block-grid-2" data-equalizer>
                        <li ng-repeat="shipTo in vm.shipToAddresses">
                            <div class="address-item" data-equalizer-watch ng-hide="shipTo.properties['edit'] == 'true'" id="shipTo{{$index}}">
                                <a ng-click="vm.editAddress(shipTo)" class="edit-btn edit-icon" ng-hide="vm.editMode"><i class="fa fa-edit"></i></a>
                                <div class="name">{{shipTo.firstName}} {{shipTo.lastName}}</div>
                                <div class="company-name">{{shipTo.companyName}}</div>
                                <div class="address1">{{shipTo.address1}}</div>
                                <div class="address2" ng-if="shipTo.address2">{{shipTo.address2}}</div>
                                <div class="phone" ng-if="shipTo.phone">Phone: {{shipTo.phone}}</div>
                                <div class="email" ng-if="shipTo.email">Email: {{shipTo.email}}</div>
                            </div>
                            <form id="addressForm" ng-if="shipTo.properties['edit'] == 'true'"  class="shortform">
                                <nbf-address-edit prefix="st" address="shipTo" countries="vm.countries" address-fields="vm.addressFields.shipToAddressFields"
                                                  set-state-required-rule="vm.setStateRequiredRule('st', shipTo)"></nbf-address-edit>
                                <div class="btns">
                                    <button type="button" id="tst_addressForm2_save" class="btn primary btn-save" ng-click="vm.saveAddress($index)">[% translate 'Save' %]</button>
                                    <button type="button" class="btn btn-secondary btn-save left" ng-click="vm.cancelEdit(shipTo, $index)">[% translate 'Cancel' %]</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-hide="vm.editMode">
                <div class="btns"><button type="button" id="" class="btn primary btn-save left" ng-click="vm.createAddress()">[% translate 'Add New Shipping Address' %]</button></div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <form id="addressForm" ng-if="vm.createNewShipTo.properties['edit'] == 'true'">
                        <nbf-address-edit prefix="st" address="vm.createNewShipTo" countries="vm.countries" address-fields="vm.addressFields.shipToAddressFields"
                                          set-state-required-rule="vm.setStateRequiredRule('st', vm.createNewShipTo)"></nbf-address-edit>
                        <div class="btns">
                            <button type="button" id="tst_addressForm3_save" class="btn primary btn-save" ng-click="vm.saveAddress('Section')">[% translate 'Save' %]</button>
                            <button type="button" class="btn btn-secondary btn-save left" ng-click="vm.cancelEdit(vm.createNewShipTo, $index)">[% translate 'Cancel' %]</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    <isc-popup-template title="[% translate 'Address Saved'%]" container-id="saveSuccess" class="my-address-save-modal">
        [% translate 'Address Saved'%]
    </isc-popup-template>
</div>

<script type="text/ng-template" id="/PartialViews/Account-AddressEdit">
    [% partialView 'Account-AddressEdit' %]
</script>
<script type="text/ng-template" id="/PartialViews/Account-AddressField">
    [% partialView 'Account-AddressField' %]
</script>
