<div class="medium-12 large-12 columns widget-1column narrow-container ">
    <div class="row">
        <div class="medium-12 large-12 columns">
            <h2 class="page-title [[Model.CssClass]]">[[CurrentPage.Title]]</h2>
        </div>
    </div>
</div>
