<div class="[[Model.CssClass]]">
    [%- if Model.TextExists -%]
        <span><strong>[[Model.Text]] </strong></span><br/>
    [%- endif -%]

    [%- if Model.LinkPhoneNumber -%]
    <a href="tel:[[Model.CustomerServicePhone]]" alt="[[Model.Text]]"><span>[[Model.CustomerServicePhone]]</span></a>
    [%- else -%]
        <span>[[Model.CustomerServicePhone]]</span>
    [%- endif -%]
</div>