<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="InSite.Commerce" connectionString="Data Source=aws-sql\nbfsqldev;Initial Catalog=Insite.NBF;Integrated Security=true;Pooling=True;MultipleActiveResultSets=True;Connection Timeout=300;Application Name=InsiteCommerce.Web" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="InSite.Commerce.Admin" connectionString="Data Source=aws-sql\nbfsqldev;Initial Catalog=Insite.NBF;Integrated Security=true;Pooling=True;MultipleActiveResultSets=True;Connection Timeout=300;Application Name=InsiteCommerce.Web" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="InSite.Commerce.Extensions" connectionString="Data Source=aws-sql\nbfsqldev;Initial Catalog=Insite.NBF;Integrated Security=true;Pooling=True;MultipleActiveResultSets=True;Connection Timeout=300;Application Name=InsiteCommerce.Web" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
</connectionStrings>