@import "../variables";


.btn {

}

.button, .btn, button {
     background-color:$nbf-orange;
     color:$nbf-white;
     padding-top:11px;
     padding-bottom:11px;
     border-width:2px;
     border-color:$nbf-orange;
     font-family:$base-font-family;
     text-align:center;
     padding-left:10px;
     padding-right:10px;
     display: inline-block;
     min-width:130px;

     &.btn-long {
         min-width:250px;
     }

    &.btn-primary {
        background-color:$nbf-orange;

        &:hover {
            background-color:#A21C00;
        }
    }

    &.btn-secondary {
        background-color:$nbf-white;
        border:2px solid $nbf-orange;
        color:$nbf-orange;

        &:hover {
            background-color:#A21C00;
            color:$nbf-white;
            border-color:#A21C00;
        }

        &.btn-navy {
            border-color:$nbf-navy;
            color:$nbf-navy;

            &:hover {
                background-color:$nbf-navy;
                color:$nbf-white;
                border-color:$nbf-navy;
            }
        }
    }


    &.disabled, :disabled {
        opacity:0.5;
        pointer-events: none;
    }

     &:hover {
            background-color:#A21C00;
            border-color:#A21C00;
        }
}

.compare-link {
    font-size: .875em;
    padding: .25em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    line-height: 1.5em;

    &:before {
        content: "\e60c";
        font-family: 'good-oatmeal-v2';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: auto;
        height: auto;
        line-height: inherit;
        vertical-align: baseline;
        background-image: none;
        background-position: 0 0;
        background-repeat: repeat;
        margin-right: .5em;
        font-size: 1rem;
        color: #ccc;
        vertical-align: bottom;
    }
}

    .compare-active:before {
        content: "\e60b";
        color: $nbf-orange;
    }