@import "../variables";

.category-list {

    &__wrap {
        list-style: none;

        a {
            text-decoration: none;
        }
    }

    &__item {
        margin-bottom: 60px;
        display: block;


        &:last-child {
            float: left !important;
        }
    }

    &__img-wrap {
        border: 1px solid $divider-gray
    }

    &__img {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    &__title {
        h2 {
            margin-bottom: 0;
            font-weight: 500;
            line-height: 1.5em;
            display:inline-block;

            &:after {
                display: block;
                content: "";
                border-bottom: 1px solid $nbf-orange;
                margin-top: 5px;
            }
        }
    }
}