.checkout {
    .checkout-accordion {
        .address-form {
            display: inline-block;
        }

        .ship-to, .ship-info {
            float: left;
            width: 50%;
            padding-top: 0 !important;
            padding-left: 2em;
        }

        .order-bill-ship {
            .bill-to, .bill-info {
                float: left;
                width: 50%;
                padding-top: 0 !important;
                padding-right: 2em;
            }
        }        
    }

    .checkout-cart {
        .cart-left {
            width: 100%;
        }

        .cart-items {
            max-height: 500px;
            overflow-y: auto;
            .item-list, .item-details {
                width:100%;
                > div{
                    margin-bottom:0;
                }
            }
        }
        .item-block div.item-opt .item-qty, .qo-item .qo-qty {
            float:left;
        }
    }

    .btns {
        text-align: center;

        .btn {
            margin: 1em 0;
            float: none !important;
        }
    }

    .section-container {
        display: inline-block;
        width: 100%;
    }

    @media all and (min-width: 768px) {
        .ship-method {
            float: left;
            width: 50%;
            padding-top: 0 !important;
            padding-right: 2em;
        }

        .order-summary {
            float: left;
            clear: both;
            width: 100%;
        }

        .order-summary-2 {
            float: left;
            clear: both;
            width: 100%;
        }

        .order-summary-2 {
            float: right;
            margin-bottom: 1em;
            width: 55%;
        }

        .order-summary-2 .btns a.btn {
            float: right;
            margin-left: 1em;
            margin-bottom: 1em;
        }

        .item-list .item-details div.price,
        .item-list .item-details div.item-opt {
            display: inline-block;
            height: auto;
        }

        .item-list .item-details,
        .item-list .item-code-notes {
            padding-right: 1em !important;
        }

        .bill-ship, .ship-method, .payment-details, .order-summary {
            .title {
                display: none;
            }
        }
    }
}
