.checkout {
    .checkout-accordion {
        .address-form {
            display:inline-block;
        }        
    }
    .checkout-cart {
        .cart-left {
            width:100%;                        
        }
        .cart-items {
            max-height:600px;
            overflow-y: scroll;
        }
    }
}