@import "../variables";


.cta-link {
    ul{
        margin:0;
        padding:0;
        list-style:none;

        li{
            .cta-link {

            }
        }
    }

    &__item {
        background-color:$divider-gray;
    }
}