@import "../variables";



/* Footer */


#footer {
    position: relative;
    z-index: 0;
    padding: 1.5em 0;
    background-color: #EEEEEE;
    max-width: 1440px;
    margin: 0 auto;


    .f1-wrap {
        width: 100%;
        z-index: 1;
        margin: 0 auto;
        position: relative;
        background: none;
        max-width: 1200px;
    }

    .footer-nav {

        .row {
            .end {
                @media all and (max-width: 641px) {
                    clear: both;
                }
            }
        }

        .bbb-wrap {
            @media all and (max-width: 641px) {
                padding: 30px;
                text-align: center;
            }
        }

        &__group {
            margin: 0;
            list-style: none;
            margin-bottom: 1em;

            @media all and (max-width: 641px) {
                margin-left: -15px;
                margin-right: -15px;
                margin-bottom: 0;
                max-height: 50px;
                overflow: hidden;
                -webkit-transition: max-height 0.5s ease-in-out;
                -moz-transition: max-height 0.5s ease-in-out;
                -o-transition: max-height 0.5s ease-in-out;
                transition: max-height 0.5s ease-in-out;

                &.open {
                    -webkit-transition: max-height 0.5s ease-in-out;
                    -moz-transition: max-height 0.5s ease-in-out;
                    -o-transition: max-height 0.5s ease-in-out;
                    transition: max-height 0.5s ease-in-out;
                    max-height: 500px;

                    .footer-nav__group__title:after {
                        content: "\f077";
                    }
                }
            }

            li {
                font-size: 16px;
                line-height: 1.2;
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                }


                @media all and (max-width: 641px) {
                    border-bottom: 1px solid $divider-gray;
                    margin-bottom: 0;

                    a {
                        display: block;
                        padding: 15px 15px;
                    }
                }
            }

            &__title {
                margin-bottom: 1em;
                color: $nbf-navy;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
                position: relative;
                margin-bottom: 18px !important;

                @media all and (min-width: 642px) {
                    pointer-events: none;
                }

                @media all and (max-width: 641px) {
                    padding: 15px 15px;
                    margin-bottom: 0 !important;

                    &:after {
                        content: "\f078";
                        position: absolute;
                        top: 15px;
                        right: 25px;
                        height: 16px;
                        width: 15px;
                        font-family: $FontAwesome;
                    }
                }
            }
        }
    }

    .email-signup {

        &__title {
            font-weight: bold;
            margin-bottom: 1em;
            line-height: 1.2;
        }

        &__label {
            line-height: 1.2;
        }

        &__btn {
            width: 100%;
            margin-bottom: 1em;
        }

        .input-email-icon {
            margin-bottom: .8em;
            position: relative;

            &:before {
                color: $nbf-navy;
            }
        }

        &__input {
            width: 100%;
        }
    }

    .talk-to-specialists-title {
        color: $nbf-navy;
        display: block;
        line-height: 1.2;
    }

    .phone {
        display: block;
    }

    .contact {
        color: $nbf-navy;

        .contact__title {
            color: $nbf-navy;
            font-weight: bold;
            margin-bottom: 1em;
            text-transform: uppercase;
        }



        &__social-links {
            display: flex;
            flex-flow: row wrap;
            margin: 0;
            list-style: none;
            justify-content: space-between;
            margin-bottom: 1em;

            .cell {
                width: 35px;

                a {
                    color: $nbf-navy;
                }

                img {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
}
