@import "../variables";




.isc-primary-nav label {
    padding: 0 0.25em;
    font: 3.125em/.96em "Arial, Helvetica, Sans-serif";
    text-indent: -9999px;
}

.isc-primary-nav label:before {
    color: rgba(255, 255, 255, .4);
    font-family: 'good-oatmeal-v2';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    text-indent: 0;
    position: absolute;
    top: 35%;
    left: 35%;
}

.isc-primary-nav .subnav .toggle {
    padding: 0 1.5em;
    font: 1em/3em "Arial, Helvetica, Sans-serif";
    top: 0;
}

.isc-primary-nav .subnav .toggle:before {
    content: "\e00c";
    top: 0;
    font-size: 1.5em;
    left: .4em;
}

/* Secondary Menu Mobile Nav */
.isc-primary-nav ul li.header-secondary-menu {
    background: transparent;
    border: none;

    ul {
        li {
            background: transparent;
            border: none;

            a {
                padding: 20px 0 0 20px;
                min-height: auto;
                height: auto;
            }
        }
    }
}

@media ( min-width:48em ) {
    #header label:hover, .isc-primary-nav label:hover, #header label:hover:before, .isc-primary-nav label:hover:before {
        //color: rgba(255, 255, 255, .5);
    }

    .isc-primary-nav ul li.header-secondary-menu {
        display: none;
    }
}

@media (max-width: 48em) {
    .header-zone.rt .widget-linklist.list-horizontal {
        display: none;
    }

    .isc-primary-nav > ul li {
        border-bottom:1px solid $divider-gray;

    }

    .isc-primary-nav > ul > li > a, .isc-primary-nav > ul > li a {
        display: block;
        color: $nbf-nav-navy;
        text-decoration: none;

        padding: 0 25px;
        white-space: normal;
        font-family: $ProximaNova;
        width: 78%;
        height: 100%;
        font-weight: 500;
    }

    .isc-primary-nav ul .res-nav {
        display: none;
    }
}

#main-nav-check, .isc-primary-nav .subnav-check {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.toggle {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #fff;
}

.container {
    background: #fff;
    padding: 0;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    max-width: 1200px;

    &.container-wide {
        max-width: 100%;
    }

    &.wide-container {
        max-width: 1440px;
    }

    &[role="main"] {
        max-width: 1440px;
    }
}

.nav-container {
    z-index: 10;
}

.isc-primary-nav, .isc-primary-nav .subnav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 13.75em;
    z-index: 4;
    left: -13.75em;
}

.isc-primary-nav {
    top: -3em;
}

.isc-primary-nav ul {
    line-height: 2.75em;
    text-decoration: none;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-top: 3em;
}

.isc-primary-nav ul li {
    white-space: nowrap;
}

@media (min-width: 48em) {

    .isc-primary-nav > ul > li > a, .isc-primary-nav > ul > li > span > a {
        display: block;
        color: $nbf-nav-navy;
        text-decoration: none;
        line-height: 80px;
        min-height: 3em;
        padding: 0 25px;
        white-space: normal;
        font-family: $ProximaNova;
        width: 78%;
        height: 100%;
        font-weight: 500;
    }
}

.isc-primary-nav .subnav {
    margin-top: 0;
    overflow: visible;
}

.isc-primary-nav .sub-heading {
    margin-top: 2.9em;
    padding-left: 1.3125em;
    font-weight: 800;
    @media (min-width: 48em) {
        pointer-events:none;
    }
    
}

.isc-primary-nav .toggle-sub {
    font: bold 1em/normal Arial;
    color: #fff;
    float: right;
    margin-top: 0;
    width: 3rem;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.isc-primary-nav .toggle-sub:before {
    content: "\e605";
    font-size: 1.5rem;
    color: #fff;
}

.isc-primary-nav .close-all {
    display: none;
}

.js .isc-primary-nav .close-all {
    display: inline;
}

.js .isc-primary-nav .toggle {
    top: 0;
    z-index: 9999;
}

.js .isc-primary-nav .subnav .toggle {
    left: 0.15em;
    width: 4em;
}


.nav-item-container {
    display: inline-block;
    width: 100%;
    position: relative;
    max-height: 100%;
    height: 100%;
}

.isc-primary-nav ul ul li a:only-child {
    width: 100%;
}

@media ( min-width:48em ) {
    .js .isc-primary-nav .close-all {
        display: none;
    }

    .container, .isc-primary-nav, .isc-primary-nav .subnav {
        -webkit-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }

    .isc-primary-nav label, .isc-primary-nav .subnav:not(level-2), .isc-primary-nav .sub-heading, .isc-nav-bar label {
        display: none;
    }

    .isc-primary-nav {
        left: 0;
        bottom: auto;
        height: 0;
        width: 100%;
        top: -80px;
        padding-left: 25px;
    }

    .isc-primary-nav .toggle-sub {
        margin-right: 0;
        display: none;
    }

    .isc-primary-nav .toggle-sub, .isc-primary-nav .toggle-sub:hover {
        background: transparent;
        margin: 0;
        padding: 1em .4em;
        width: 2.5em;
    }

    .isc-primary-nav ul ul .toggle-sub {
        margin-right: 0;
    }

    .isc-primary-nav ul li:hover > label {
        color: #ccc;
    }

    .isc-primary-nav > ul > li > span > .toggle-sub {
        right: 0;
        top: 0;
    }

    .isc-primary-nav > ul > li > span > .toggle-sub:before {
        content: "\e608";
        left: 30%;
    }

    .isc-primary-nav > ul {
        float: left;
        width: 75%;
        position: relative;
        z-index: 1;
        left: 0;
        margin-top: 0;
        display: inline-table;
        border-right: 0;
    }

    .isc-primary-nav ul:after {
        content: "";
        clear: both;
        display: block;
    }

    // Top Level limites to handle overflow on nav bar elements
    .isc-primary-nav > ul > li {
        max-width: 30%;
        height: 80px;
    }

    .isc-primary-nav > ul > li > span > a {
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .isc-primary-nav ul li {
        float: left;
        //position: relative;
        text-align: left;
        display: list-item;
        margin: 0;
        white-space: nowrap;
        line-height: .6em;
    }

    .isc-primary-nav ul li a {
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }

    .isc-primary-nav ul li a:only-child {
        width: 100%;
    }

    .isc-primary-nav ul li:hover > a {
        -webkit-transition: background-color .25s ease;
        transition: background-color .25s ease;
    }

    .isc-primary-nav ul li:hover > .subnav, .isc-primary-nav ul li.currently-hovered > .subnav {
        display: block;
    }

    .hide-item {
        display: none;
    }


    .isc-primary-nav ul .subnav {
        position: absolute;
        left: 0;
        margin-left: -1px;
    }

    .isc-primary-nav > ul {
        ul.level-1 {
            float: left;
            width: 178px;
            border-right: 1px solid $divider-gray;
            margin-top: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            position: relative;
        }
    }


    .isc-primary-nav > ul ul.level-1 > li {

        &.currently-hovered {
            background-color: $nbf-navy;

            & > span > a {
                color: #fff;
                text-decoration: none;
            }

            & > a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .isc-primary-nav ul ul li {
        float: none;
        //min-width: 13.75em;
        width: 100%;


        &:hover {
            background-color: $nbf-navy;

            & > span > a {
                color: #fff;
                text-decoration: none;
            }

            & > a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .isc-primary-nav ul ul li a {
        padding: .85em 1em .85em 1em;
    }

    .isc-primary-nav ul ul li a:after {
        right: 0.375em;
        margin-top: -1.6875em;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .isc-primary-nav ul .subnav {
        top: auto;
        bottom: auto;
        left: auto;
        width: 1123px;
        border: 1px solid $divider-gray;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        min-width: 100%;
        font-size: 1em;

        &.single {
            width:auto;
            min-width:215px;

            ul {
                margin-top: 0;
                padding-top: 15px;
                padding-bottom: 15px;

            }
        }

        &.show-heading {
            .sub-heading{
                display:block;
                margin-top: 0;
                padding: .85em 1em .85em 1em;
            }
        }


        div.subnav {
            border: none;
            top: 1px;
            margin-left: 1px;
            width: 943px;
            padding: 15px 0;


            & > ul {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                float: left;
                margin-top: 0;
            }

            li {
                &:hover {
                    background-color: transparent;

                    a {
                        color: $nbf-black;
                    }
                }
            }
        }
    }

    .isc-primary-nav ul ul .subnav {
        float: left;
        top: 0;
        left: 100%;
        margin-left: -1px;
        margin-top: -1px;
    }

    .isc-primary-nav ul .fly-left ul {
        left: -13.75em;
        margin-left: -2px;
    }

    .isc-primary-nav ul .fly-left .toggle-sub {
        right: auto;
        left: 0.5em;
        left: 0.375em;
        padding-bottom: 1px;
        border-right: 1px solid #444;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .isc-primary-nav ul .res-nav {
        float: right;
        width: 504px;
        margin: 0 30px 0 0;
        display: flex;

        ul {
            float: left;
            width: 242px;
            background-color: #F8F8F8;
            margin: 0;

            &:first-child {
                margin-right: 20px;
            }

            li {
                a {

                    &:hover {
                        color: $nbf-black;
                    }
                }

                &:hover {
                    background-color: transparent;
                    color: $nbf-black;
                }
            }

            .sub-heading {
                display: block;
                font-family: $ProximaNova-bold;
                color: $nbf-black;
                text-transform: none;
                padding: 15px 3em .85em 1em;
                margin: 0;
                font-size: 16px;
                pointer-events: none;
            }
        }
    }
}

/* Nav Theme styles */

.isc-primary-nav ul {
}

.isc-primary-nav ul li {
}

/* Subnav list item theming */

.isc-primary-nav ul li a:only-child {
    width: 100%;
}

.isc-primary-nav > ul > li > span > .toggle-sub {
    border-bottom: 1px solid transparent;
}

.isc-primary-nav ul ul .toggle-sub {
}


/* Subnav Colors */

.isc-primary-nav, .isc-primary-nav .subnav {
    background: #fff;
}

@media ( min-width:48em ) {
    // Remove shadows from subnav panels on wide viewport
    .isc-primary-nav .subnav {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }

    .isc-primary-nav > ul > li {
        border-bottom: 1px solid transparent;

         &:hover > a:after, &:hover > span > a:after  {
                content: "";
                display: block;
                border-bottom: 1px solid $nbf-orange;
                height: 1px;
                width: 100%;
                bottom: 26px;
                position: relative;
            }
    }

    .isc-primary-nav > ul {
    }

    .isc-primary-nav li a:hover, .isc-primary-nav .toggle-sub:hover {
    }

    .isc-primary-nav ul li:hover > a, a.cart-link:hover, a.cart-link:focus {
    }
}

/* Navigation Update */

@media all and (max-width: 767px) {
    // TODO: 3.7.1 - remove ui-lock and use :after lock
    [class*="sidebar-"] .ui-lock {
        display: none !important;
    }

    .isc-primary-nav {
        top: 0;
        padding-top: 3em;
        position: fixed;
    }

    .isc-primary-nav ul {
        height: 100%;
        overflow: hidden;
        margin-top: 0;
        border: 0;
    }

    .isc-primary-nav li a {
        width: 84.2%;
    }

    #nwrap, .isc-primary-nav, .isc-primary-nav .subnav {
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
    }

    [class*="sidebar-"] #nwrap, #main-nav-check:checked ~ .isc-primary-nav, .isc-primary-nav .subnav-check:checked ~ .sub-tier-panel, .isc-primary-nav .subnav-check:checked ~ #fof-sub {
        -webkit-transform: translate3d(290px,0,0);
        -ms-transform: translate3d(290px,0,0);
        transform: translate3d(290px,0,0);
    }

    .isc-primary-nav-top {
        width: 100%;
        height: 3em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 0;
        left: 0;
    }

    .isc-primary-nav, .isc-primary-nav .subnav {
        width: 290px;
        left: -290px;
    }

    .isc-primary-nav .subnav {
        top: 3em;
        height: auto;
    }

    .isc-primary-nav .active-nav {
        overflow-y: auto;
    }

    .isc-primary-nav .active-nav > ul {
        overflow-y: auto;
    }

    .isc-primary-nav .subnav .subnav {
        top: 0;
    }

    .isc-primary-nav .sub-heading {
        padding: 1rem;
        margin-top: 0;
        font-size: .875rem;
        line-height: 1.4em;
        white-space: normal;
    }

    // TODO: remove this z index once we change to use one back label btn
    .isc-primary-nav .subnav .toggle {
        z-index: 1;
    }

    .isc-primary-nav .toggle.close-all {
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
    }

    .isc-primary-nav .close-all:before {
        content: "\e606";
        font-size: 1.5rem;
        color: $nbf-navy;
        top: 0;
        left: auto;
        right: .6rem;
    }

    .isc-primary-nav .toggle-sub:before {
        top: 0;
        left: auto;
        right: .6rem;
        line-height: 3.25rem;
    }

    .isc-primary-nav .isc-primary-nav-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
    }

    .isc-primary-nav .isc-primary-nav-back.isc-hidden {
        display: none;
    }

    .isc-primary-nav .isc-primary-nav-back:before {
        content: "\e604";
        font-size: 2rem;
        color: $nbf-navy;
        top: 0;
        left: .35rem;
    }

    .isc-primary-nav label:before {
        line-height: 2.1em !important;
    }

    .isc-primary-nav label.isc-primary-nav-back:before {
        line-height: inherit !important;
    }

    body:after {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 0px;
        height: 0px;
        content: "";
        opacity: 0;
        background: rgba(0,0,0,0.3);
        -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    }

    body[class*="sidebar-"]:after {
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

    body[class*="sidebar-"] {
        position: fixed;
    }
}

.item-opt__changed {
    border: 2px solid red !important;
}

@media all and (min-width: 768px) {

    .isc-primary-nav > ul > li > span > .toggle-sub:before {
        font-size: 1.2rem;
        left: .5rem;
        top: .75rem;
    }

    .isc-primary-nav .subnav .toggle-sub:before {
        font-size: 1.2rem;
        left: .5rem;
        top: .6rem;
    }
}
