@import "../variables";

.address-list, .shipping-list {
    padding-top: 60px;
    padding-bottom: 20px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: block;
            padding-bottom: 0;
        }
    }

    .address-item {
        position: relative;
        margin-bottom: 40px;
        display: block;
        min-height: 162px;
        padding-right: 65px;

        .edit-btn {
            position: absolute;
            top: 0;
            right: 65px;
        }

        .name {
            padding-right: 27px;
        }

        .email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    #addressForm {
        input[type="text"], select, input[type="email"], input[type="password"] {
            margin-bottom: 3px;
        }
    }
    .ship-to-bill-to-text {
        font-style: italic;
        font-weight: bold;
    }
}
.address-list {
    border-bottom: 1px solid $divider-gray;
    padding-top: 0px;
}

.my-address-save-modal {
    &.reveal-modal {
        position: fixed;
        top: 20px !important;
    }
}