@import "../variables";

.address-list, .shipping-list {
    padding-top: 60px;
    padding-bottom: 20px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display:block;
            padding-bottom:0;
        }
    }

    .address-item {
        position: relative;
        margin-bottom: 40px;
        display: block;
        min-height:162px;

        .edit-btn {
            position: absolute;
            top: 0;
            right: 65px;
        }

        .name {
            padding-right: 87px;
        }
    }

    #addressForm{
        input[type="text"], select, input[type="email"], input[type="password"] 
        {
            margin-bottom:3px;
        }
    }
}
.address-list {
    border-bottom: 1px solid $divider-gray;
    padding-top: 0px;
}

.my-address-save-modal {
    &.reveal-modal {
        position: fixed;
        top: 20px !important;
    }
}