@import "../variables";



/* Navigation List */

.widget-navlist {
    display: block;
    padding: 1em 1.5em 0 1em;
    border: 1px solid #ddd;

    & > ul {
        margin-left: 0;
    }

    ul {
        list-style-type: none;
        width: auto;

        .active {
            font-weight: bold;
        }
    }

    h4 {
        margin-top: 0;
        margin-bottom: .25em;
    }

    &.blog-nav {
        border: none;
        border-bottom: 1px solid $divider-gray;
        padding: 28px 25px;
        position: relative;

        @media all and (max-width: 991px) {
            padding: 28px 0;
            margin: 8px 15px;
        }

        & > ul {
            margin-bottom: 0;



            li {
                display: inline-block;
                padding: 0 25px;

                &:hover a:after {
                    content: "";
                    display: block;
                    border-bottom: 1px solid #CB563E;
                    height: 1px;
                    width: 100%;
                    bottom: 0;
                    position: absolute;
                }

                a {
                    display: block;
                    text-decoration: none;
                    position: relative;
                }
            }

            ul {
                display: none;
            }

            @media all and (max-width: 991px) {
                display: none;
                position: absolute;
                background: white;
                z-index: 1;
                top: 68px;
                width: 100%;

                li {
                    display: block;
                    padding: 10px;
                }
            }
        }

        h4 {
            display: none;

            @media all and (max-width: 991px) {
                display: block;
                border: 1px solid #b2b2b2;
                padding: 4px 10px;
                border-radius: 4px;
                margin-bottom: 0;

                &:after {
                    content: '\f078';
                    font-family: $FontAwesome;
                    margin-left: 20px;
                    float: right;
                }
            }
        }

        &.expanded {
            h4 {
                &:after {
                    content: '\f077';
                }
            }


            & > ul {
                margin-bottom: 0;

                @media all and (max-width: 991px) {
                    display: block;
                }
            }
        }
    }
}
