@import "../variables";
@media print {
    .product-list {
        /* Width of the list container */
        /* Grid and List */
        /* Table */
        /* Show/hide the correct filters for each view mode */
        /* Grid and List */
        /* Table */
        /* List-mode-specific classes */
        /* Grid-mode block grid classes */
        /* Table-mode block grid classes */
        /* Headers */
        /* Adjust the padding on cells */
        /* Style divs like table cells */
        /* Hide the attribute names */
        /* Table View Scaling and positioning */
        /* Quantity Pricing Tooltip offset */
    }

    .product-list .viewmode-selector {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 15px;
    }

    .product-list .vm-grid .plist-right,
    .product-list .vm-list .plist-right {
        max-width: 460px;
        width: 70%;
    }

    .product-list .vm-table .plist-right {
        width: 100%;
    }

    .product-list .left-nav-2 {
        width: 250px;
        padding: 0;
        margin: 0;
        margin-bottom: 3em;
        background: #F6F6F6;
        border: 1px solid #E1E1E1;
    }

    .product-list .vm-list .n-filter,
    .product-list .vm-grid .n-filter {
        display: block !important;
    }

    .product-list .vm-list .left-nav-2 .accordion li .f-cat,
    .product-list .vm-grid .left-nav-2 .accordion li .f-cat {
        display: block;
    }

    .product-list .vm-list .left-nav-2 .f-cat[role="mobile-filters"],
    .product-list .vm-grid .left-nav-2 .f-cat[role="mobile-filters"] {
        display: none !important;
    }

    .product-list .vm-table .content-wrapper {
        overflow: hidden;
        width: 100%;
    }

    .product-list .vm-table table tr.even,
    .product-list .vm-table table tr.alt,
    .product-list .vm-table table tr:nth-of-type(2n) {
        background: none transparent;
    }

    .product-list .item-list .item-block .item-details .item-price {
        margin-bottom: 32px;
    }

    .product-list .vm-list .item-list .item-block .item-price {
        float: right;
        width: 30%;
    }

    .product-list .vm-list .item-details {
        width: 73%;
        padding-right: 1em !important;
    }

    .product-list .vm-list .item-details .item-name {
        margin-bottom: 10px;
    }

    .product-list .vm-list .item-details .item-name a {
        font-size: 24px;
        text-decoration: none;
    }

    .product-list .vm-list .item-details .item-name-grid {
        display: none;
    }

    .product-list .vm-list .item-details .item-block__product__more-link {
        float: none;
    }

    .product-list .vm-list div.item-details div.item-inf-wrapper {
        float: left;
        width: 60%;
        margin-bottom: 1em;
    }

    .product-list .vm-list .item-block .item-thumb {
        margin-bottom: 0;
    }

    .product-list .vm-list .item-block .item-block__product__price-wrap {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
    }

    .product-list .vm-list .item-block .item-block__product__price-wrap .item-block__product__price, .product-list .vm-list .item-block .item-block__product__price-wrap h3, .product-list .vm-list .item-block .item-block__product__price-wrap .strike ori-price-tag {
        display: block !important;
        text-align: right;
    }

    .product-list .vm-list .item-block .item-block__product__price-wrap h3 {
        margin-right: 0;
    }

    .product-list .vm-list .item-block .item-block__product__price-wrap .item-block__product__price {
        display: block !important;
    }

    .product-list .vm-list .item-block ul.attribute-list {
        margin-top: 15px;
    }

    .product-list .vm-list .item-block ul.attribute-list li {
        line-height: 1.3em;
        padding: 0;
        margin-bottom: .25em;
    }

    .product-list .vm-list .item-block ul.attribute-list li.attrib-title {
        font-size: 18px;
        color: #2E2A2B;
        font-family: "proxima-nova", "ProximaNova", Arial, sans-serif;
        font-weight: 700;
    }

    .product-list .vm-list .item-block .item-price {
        text-align: right;
    }

    .product-list .vm-list .product-info .pack-container {
        position: relative;
        height: 1em;
        display: inline-block;
        width: 100%;
    }

    .product-list .vm-list .product-info .pack-container .pack {
        position: absolute;
        right: 0;
        white-space: nowrap;
    }

    .product-list .vm-list .actions-block {
        float: right;
        text-align: right;
        width: 40%;
        min-width: 174px;
        margin: 0;
    }

    .product-list .vm-list .actions-block .um label, .product-list .vm-list .actions-block .um div {
        margin-left: auto;
    }

    .product-list .vm-list .actions-block .add-to-cart-block {
        display: flex;
    }

    .product-list .vm-list .actions-block .add-to-cart-block .item-qty {
        margin-left: auto;
    }

    .product-list .vm-list .actions-block .add-to-cart-block .action {
        width: auto;
        margin-left: 5px;
    }

    .product-list .vm-list .item-list .item-block .item-price {
        float: right;
        width: 40%;
        margin-bottom: 10px;
    }

    .product-list .vm-grid .item-list {
        border-right: 0;
        border-bottom: 0;
        margin-top: 40px;
    }

    .product-list .vm-grid .item-details {
        width: 100%;
        padding: 0 !important;
    }

    .product-list .vm-grid .item-details .item-name-list {
        display: none;
    }

    .product-list .vm-grid .item-details .item-inf-wrapper {
        width: 100%;
    }

    .product-list .vm-grid .item-block {
        width: 22%;
        height: 475px;
        float: left;
        display: inline-block;
        vertical-align: top;
        margin: 0 !important;
        border: 0;
        margin-right: 3% !important;
        overflow:hidden;
    }

    .product-list .vm-grid .item-block {
        border-collapse: collapse;
        padding: 0;
    }

    .product-list .vm-grid .item-details .item-block__product__more-link {
        float: right;
    }

    .product-list .vm-grid .item-block .item-thumb .product-compare-add {
        display:none;
    }

    .product-list .vm-grid .item-block .item-thumb a {
        height: 258px;
        width: 258px;
        display: block;
    }

    .product-list .vm-grid .item-block .item-thumb {
        width: 100%;
        max-width: none;
        margin: 0;
        overflow: hidden;
        padding: 0 !important;
        margin-bottom: 10px;
        height: 260px;
        width: 260px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: block;
        }
    }

    .product-list .vm-grid .item-block .item-thumb img {
        width: 100%;
    }

    .product-list .vm-grid .item-block .item-description {
        width: 100%;
    }

    .product-list .vm-grid .item-block .item-name {
        height: 54px;
        overflow: hidden;
    }

    .product-list .vm-grid .item-block ul.attribute-list {
        display: none;
    }

    .product-list .vm-grid .item-block .availability {
        display: block;
    }

    .product-list .vm-grid .item-block .item-price > * {
        display: inline-block;
    }

    .product-list .vm-grid .quantity-pricing {
        margin: 0;
        display: block !important;
    }

    .product-list .vm-grid .item-price {
        margin-bottom: 0 !important;
    }

    .product-list .vm-grid .item-price .product-info .um .pack {
        margin-left: 0;
    }

    .product-list .vm-table .item-list {
        display: none;
    }

    .product-list .vm-table .item-list.table-view {
        display: table;
    }

    .product-list .table-view-headers {
        display: none;
        width: 100%;
        border: 1px solid #ddd;
        font-weight: 600;
        border-bottom: 3px solid #ccc;
    }

    .product-list .vm-table .table-view-headers {
        display: table;
    }

    .product-list .table-view-headers > div {
        display: table-cell;
        border-right: 1px solid #e0e0e0;
        text-align: left;
        line-height: 1.5em;
        padding: 1em 5px;
        background-color: #f6f6f6;
    }

    .product-list .table-view-headers .tv-description {
        width: 30%;
    }

    .product-list .table-view-headers .tv-att1 {
        width: 10%;
    }

    .product-list .table-view-headers .tv-att2 {
        width: 10%;
    }

    .product-list .table-view-headers .tv-att3 {
        width: 11%;
    }

    .product-list .table-view-headers .tv-rating {
        width: 11%;
    }

    .product-list .table-view-headers .tv-availability {
        width: 11%;
    }

    .product-list .table-view-headers .tv-price {
        width: 7%;
    }

    .product-list .table-view-headers .tv-um {
        width: 10%;
    }

    .product-list .vm-table .item-block .item-details,
    .product-list .vm-table .item-block .item-thumb {
        padding: 0 !important;
    }

    .product-list .vm-table .item-details .item-inf-wrapper,
    .product-list .vm-table .item-details .item-description,
    .product-list .vm-table .item-block ul.attribute-list,
    .product-list .vm-table .item-block ul.attribute-list li {
        padding: 0;
    }

    .product-list .vm-table .item-details {
        width: 85%;
    }

    .product-list .vm-table .item-details > div {
        display: table-cell;
        vertical-align: top;
    }

    .product-list .vm-table .item-details .item-inf-wrapper {
        width: 86%;
    }

    .product-list .vm-table .item-details .item-inf-wrapper > div {
        display: table-cell;
        vertical-align: top;
    }

    .product-list .vm-table .item-details .item-description {
        width: 27%;
    }

    .product-list .vm-table .actions-panel a.btn.primary.add-to-cart {
        width: 10%;
    }

    .product-list .vm-table .item-block ul.attribute-list {
        display: table-cell;
    }

    .product-list .vm-table .item-block ul.attribute-list .attrib-name {
        display: none;
    }

    .product-list .vm-table .item-thumb {
        width: 20%;
        display: inline-block;
    }

    .product-list .vm-table .item-thumb img {
        width: 100%;
    }

    .product-list .vm-table .item-description {
        display: inline-block;
        vertical-align: top;
        padding-left: 2%;
        width: 77%;
        font-size: 1em;
        line-height: 1.25em;
    }
}
