@import "../variables";


.product-details {
    .detail-image {
        #s7flyout_inline_div.s7flyoutviewer {
            @media all and (max-width: 767px) {
                height: 400px !important;
            }
        }

        #Wrapper360 {
            height: 560px;

            @media all and (max-width: 767px) {
                height: 400px !important;

                .spritespin-stage {
                    background-position: center !important;
                    background-size: 100% !important;
                }
            }
        }

        #spritespin {
            @media all and (max-width: 450px) {
                width: 100% !important;
            }
        }

        .s7flyoutzoomview {
            overflow: hidden;
        }

        @media all and (max-width: 767px) {
            width: 100%;
        }

        a {
            @media all and (min-width: 768px) {
                height: 558px;
            }

            display: block;
            border: 1px solid $divider-gray;
            overflow: hidden;

            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .image-buttons {
        @include flexbox();
        @include flex-wrap(wrap);
        margin: -10px !important;

        & > button {
            @include flex(1 1 210px);
            margin: 10px;
        }
    }

    .name-price {
        display: block;
        margin-bottom: 20px;

        @media all and (min-width: 768px) {
            border: 1px solid #c2c2c2;
            padding: 20px;
            height: 558px;
            overflow: auto;
        }

        .item-block__product__price-wrap {
            margin: 20px 0;
        }
    }

    .item-num {
        & > span {
            border-right: 1px solid $divider-gray;
            padding: 0 10px 0 10px;

            &:last-child {
                border-right: none;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }

    .item-block__product__bluk-pricing {
        & span strong {
            color: $nbf-yellow;
        }
    }

    .detail-info {
        .item-block__product__col-2 {
            margin-bottom: 30px;

            .col-1 {

                @media all and (min-width: 768px) {
                    border-right: 1px solid $divider-gray;
                    margin-right: 20px;
                    width: 45%;
                    float: left;
                }

                .item-block__product__bluk-pricing > div {
                    margin-bottom: 5px;
                }
            }

            .col-2 {
                @media all and (min-width: 768px) {
                    width: 45%;
                    float: left;
                }
            }

            @media all and (max-width: 767px) {
                .col {
                    margin-bottom: 30px;
                }
            }

            @media all and (max-width: 767px) {
                & > div {
                    width: 100%;
                    margin-top: 15px;
                }
            }
        }

        .item-block__product__ships-today {
            text-align: left;
            margin: 10px 0;
        }
    }


    .item-block__product__swatches {
        ul {
            margin: 0 0 15px;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                height: 46px;
                width: 46px;
                border: 1px solid #fff;
                padding: 3px;

                &.active {
                    border-color: $nbf-navy;
                }

                img {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }

    .item-block__product__bluk-pricing__title {
        text-transform: uppercase;
        color: $nbf-yellow;
    }

    .item-block__product__samples-link {
        margin-bottom: 10px;

        strong {
            margin-right: 20px;
        }

        a {
            text-decoration: underline;
            margin-right: 10px;
        }
    }

    .item-block__product__price-wrap {
        .item-block__price, .ori-price-tag, .item-block__product__flag {
            vertical-align: middle;
        }

        .item-block__product__flag {
            float: none;
            margin-right: 10px;
        }
    }



    .accordion-details-page {
        .accordion {
            margin-bottom: 20px;

            label.accord-head {
                border: 1px solid $divider-gray;
                background-color: #F8F8F8;
                text-align: center;
                color: $nbf-black;
                font-size: 24px;
                line-height: normal;
                padding: 10px 1.25em;

                &:after {
                    content: "\f067";
                    left: 10px;
                    right: auto;
                    top: 17px;
                    font-family: $FontAwesome;
                    font-size: 14px;
                }
            }

            input.accord-check:checked + label.accord-head {
                background-color: $nbf-navy;
                color: #fff;

                &:after {
                    content: "\f068";
                    font-family: $FontAwesome;
                }
            }

            article.accord-content {
                max-width: 900px;
                margin: 0 auto;
            }
        }

        .doclinks li {
            display: block !important;

            .pdf-icon {
                &:before {
                    content: '\f1c1';
                    font-family: $FontAwesome;
                    margin-right: 15px;
                    color: red;
                }
            }

            .blog-icon {
                &:before {
                    content: '\f0c1';
                    font-family: $FontAwesome;
                    margin-right: 15px;
                    color: $nbf-orange;
                }
            }

            .word-icon {
                &:before {
                    content: '\f1c2';
                    font-family: $FontAwesome;
                    margin-right: 15px;
                    color: $nbf-navy;
                }
            }
        }
    }

    .detail-options {
        @media all and (max-width: 767px) {
            width: 100%;
        }


        .pd-buttons {
            margin-right: 20px;

            .btn-add-to-cart {
                min-width: 200px;
            }
        }

        a.btn.btn-add-to-list:link {
            width: auto;
            padding-top: 10px;
        }
    }

    .detail-options-wrap {
        @include flexbox();
        @include flex-wrap(wrap);
        margin: -10px !important;

        select {
            margin-bottom: 0;
        }

        & > div {
            @include flex(1 1 210px);
            margin: 10px;
        }
    }
}

@media print {
    /* All your print styles go here */
    #liveExpert-widget-container {
        display: none !important;
    }

    .product-detail .detail-image, .product-details .name-price {
        width: 45% !important;
        overflow: hidden;
        display: table-cell !important;
    }

    #InfoMessage_s7classic_4, .product-detail .images-carousel-wrapper .isc-imageContainer.active:after, .product-detail .images-carousel-wrapper .img-carousel-control-prev, .product-detail .images-carousel-wrapper .img-carousel-control-next {
        display: none !important;
    }

    body {
        -webkit-transform: scale(0.85); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.85); /* FF3.5+ */
        -ms-transform: scale(0.85); /* IE9 */
        -o-transform: scale(0.85); /* Opera 10.5+ */
        transform: scale(0.85);
        margin: -50px -73px 0; /* big hack to reposition the page top the top and left of the viewer control */
    }
}
