@import "../variables";

.filter-title {
    font-size: 16px;
    color: $nbf-navy;
    text-transform: uppercase;
}

.n-filter {
    position: relative;

    .filter-middle {

        @media (min-width: 768px) {
        padding-left: 100px;
        padding-right: 215px;
        }
    }

    .filter-select-wrap {
        position: absolute;
        width: 200px;
        right: 0;

        @media (max-width: 767px) {
            clear:both;
            width:auto;
            right:auto;
            position:relative;
            padding: 0 15px;
        }
    }

    .filter-label {
        position: absolute;
        width: 100px;
        left: 0;

        @media (max-width: 767px) {
            display:none;
        }
    }
}

.exrta-filter-wrap {
    .toggle-filters {
        display: block;
        margin-bottom: 15px;
        text-decoration: none;

        @media (max-width: 761px) {
            display:none;
        }
        &:after {
            content: "\f068";
            position: relative;
            margin-left: 10px;
            font-family: "FontAwesome";
        }
    }

    .exrta-filters {
        height: auto;
        overflow: hidden;
        transition: max-height 0.5s ease-in;
        max-height: 1600px;
    }

    &.collapsed {

        @media (min-width: 768px) {

            .exrta-filters {
                max-height: 0;
                transition: max-height 0.5s ease-out;
            }

            .toggle-filters {
                &:after {
                    content: "\f067";
                }
            }
        }
    }
}

.product-list .n-filter {

    .product-list-filters {

        @media (min-width: 768px) and (max-width: 991px) {
            & > div:nth-child(2n + 2) {
                clear: left;
            }
        }

        @media (min-width: 992px) and (max-width: 1197px) {
            & > div:nth-child(3n + 2) {
                clear: left;
            }
        }


        @media (min-width: 1198px) {
            & > div:nth-child(4n + 2) {
                clear: left;
            }
        }

        .exrta-filter-wrap {
            .exrta-filters {
                @media (min-width: 768px) and (max-width: 991px) {
                    & > div:nth-child(2n + 1) {
                        clear: left;
                    }
                }

                @media (min-width: 992px) and (max-width: 1197px) {
                    & > div:nth-child(3n + 1) {
                        clear: left;
                    }
                }


                @media (min-width: 1198px) {
                    & > div:nth-child(4n + 1) {
                        clear: left;
                    }
                }
            }
        }


        .f-cat {
            width: 170px;
            margin-right: 36px;
            margin-bottom: 30px !important;
            float: left;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .accordion {

            & > div {
                position: relative;
            }

            label.accord-head {
                color: #737373;
                background-color: #fff;
                border: 1px solid $divider-gray;
                font-size: 18px;
                padding: 9px 20px 9px 20px;

                &:after {
                    margin-left: 0;
                }
            }

            .accord-content {
                position: absolute;
                width: 100%;
                border: 1px solid #404042 !important;

                .f-wrap {
                    ul {
                        padding: 5px 10px;
                        list-style: none;

                        .view-all {
                            border-bottom: 1px solid #404042 !important;
                        }

                        li {
                            padding: 8px 0;
                            margin-bottom: 0;

                            &:before {
                                top: 9px;
                            }

                            a {
                                color: $nbf-black;
                            }
                        }
                    }
                }
            }
        }
    }
}


.product-list {

    .n-filtered {
        margin: 0;
        clear: both;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

@media (min-width: 767px) {
    .mobile-title + article.accord-content {
        margin-top: 0;
    }
}