.product-comparison {
    div.remove {
        background-color: transparent;
        right: auto;
        left: 165px;
        font-size: 14px;

        a.btn {
            background-color: transparent;
            padding: 0;
            min-width: 0;
            font-size: 14px;
        }
    }

    .carousel-control-nav {
        background-color: transparent !important;

        &:hover {
            background-color: transparent !important;
        }

        span {
            top: 20% !important;
        }
    }
}
