@import "../variables";

.top-nav {
    max-width: 1440px;
    margin: 0 auto;
}

.top-nav-container {
    [role="secondary-nav"] {
        background-color: #F0F0F0;

        @media all and (max-width: 767px) {
            display: none;
        }

        .container {
            background-color: transparent;
        }

        .top-nav-wrap {
            padding: 0 50px;

            @media all and (max-width: 767px) {
                padding: 0 15px;
            }

            ul {
                li {
                    a {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        color: $nbf-navy;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                        text-decoration: none;

                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }
            }

            .catalog-link {
                padding-top: 10px;
                padding-bottom: 10px;
                color: $nbf-navy;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                text-decoration: none;
            }
        }
    }
}