<div>
    <div class="s7flyoutviewer s7mouseinput s7size_small s7device_landscape" id="s7flyout_inline_div" style="height: 560px;position:relative;z-index:1"></div>
    <div id="Wrapper360" style="position: relative;display: none;">
        <div id="spritespin"></div>
    </div>
    <video id="videofile" ng-if="vm.product.properties['videoUrl']" data-ng-init="vm.initVideo()" controls="" style="display:none;width: 100%; height: 400px;" >
        <source src="" type="video/mp4">
    </video>
    <isc-product-image-carousel product-images="vm.product.productImages" selected-image="vm.selectedImage" prefix="main" max-tries="2000"></isc-product-image-carousel>
</div>