{% comment %}
    usage example:
    <isc-product-thumb product="wishListLine"></isc-product-thumb>
{% endcomment %}

<div class="small-2 columns item-thumb">
    <a ng-href="{{product.productUri}}">
        <img ng-src="https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{product.smallImagePath || product.mediumImagePath}}?hei=250&id=Iu1rN2&fmt=jpg&fit=constrain,1&wid=250&hei=250" alt="{{product.altText}}"/>
    </a>
</div>