<div>
    <div id="s7viewer-test" style="position:relative;z-index:1" ng-click="vm.productZoom()"></div>

    <isc-product-image-carousel product-images="vm.product.productImages" selected-image="vm.selectedImage" prefix="main" max-tries="2000" get-carousel-width="vm.getMainImageWidth()"></isc-product-image-carousel>
</div>