<div>
    <!--SCENE7 PLAYER JAVASCRIPT-->
    <div class="s7flyoutviewer s7mouseinput s7size_small s7device_landscape" id="s7flyout_inline_div" ng-click="vm.productZoom()" style="height: 400px;position:relative;z-index:1"></div>







    <isc-product-image-carousel product-images="vm.product.productImages" selected-image="vm.selectedImage" prefix="main" max-tries="2000" get-carousel-width="vm.getMainImageWidth()"></isc-product-image-carousel>    
    <script>
        var oB = document.getElementById('s7flyout_inline_div');
        oB.onload = function () {
            alert("yo");
            imageID = 'NationalBusinessFurniture/40219_3?wid=600';

            var flyoutViewer = new s7viewers.FlyoutViewer();
            {
                flyoutViewer.setContainerId("s7flyout_inline_div");
                flyoutViewer.setParam("asset", imageID);
                flyoutViewer.setParam("serverurl", "https://s7d9.scene7.com/is/image/");
                flyoutViewer.setParam("contenturl", "https://s7d9.scene7.com/skins/");
                flyoutViewer.setParam("autoResize", "1");
                flyoutViewer.setParam("overlay", "1");
                flyoutViewer.setParam("config", "Viewers/HTML5_Inline_FlyoutZoom");

                flyoutViewer.init();
                flyoutViewer.setAsset(imageID);
            }
        }


    </script>
    
</div>