
<div class="row"  ng-controller="NbfShopTheLookLandingViewController as vm">
    <div class="medium-12 large-12 columns widget-1column narrow-container shopthelook [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div>
                    <h1 class="shopthelook__title">Shop The Look</h1>
                </div>
                <p class="shopthelook__page-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet.</p>
                <div class="shopthelook__filters clearfix">
                    <div class="shopthelook__dropdown">
                        <label>Style</label>
                        <div id="filters" class="button-group  shopthelook__filter-group">
                            <button class="button is-checked" data-filter="*">show all</button>
                            <button class="button" data-filter=".blue">Blue</button>
                            <button class="button" data-filter=".red">Red</button>
                            <button class="button" data-filter=".orange">Orange</button>
                            <button class="button" data-filter=".green">Green</button>
                            <button class="button" data-filter=".black">Black</button>
                        </div>
                    </div>
                    <div class="shopthelook__dropdown">
                        <label>Room</label>
                        <div id="filters" class="button-group shopthelook__filter-group">
                            <button class="button is-checked" data-filter="*">show all</button>
                            <button class="button" data-filter=".bedroom">Bedroom</button>
                            <button class="button" data-filter=".bathroom">Bathroom</button>
                            <button class="button" data-filter=".homeoffice">Home Office</button>
                        </div>
                    </div>
                </div>
                <div class="shopthelook__wrapper">
                    <div class="shopthelook__gird">
                        
                        <div class="shopthelook__item grid-item bedroom black">
                            <img src="http://www.portersofaccrington.co.uk/wpimages/wpbe847065_05_06.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item bedroom black">
                            <img src="https://media.cymaxstores.com/buyguides/MKT-875-CYM-commercial-office-P1_18.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item homeoffice green">
                            <img src="http://www.portersofaccrington.co.uk/wpimages/wpbe847065_05_06.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item homeoffice green">
                            <img src="https://media.cymaxstores.com/buyguides/MKT-875-CYM-commercial-office-P1_18.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item homeoffice orange">
                            <img src="http://www.portersofaccrington.co.uk/wpimages/wpbe847065_05_06.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item blue">
                            <img src="http://www.portersofaccrington.co.uk/wpimages/wpbe847065_05_06.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item bathroom orange">
                            <img src="https://media.cymaxstores.com/buyguides/MKT-875-CYM-commercial-office-P1_18.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item homeoffice red">
                            <img src="http://www.portersofaccrington.co.uk/wpimages/wpbe847065_05_06.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="shopthelook__item grid-item bathroom blue">
                            <img src="https://media.cymaxstores.com/buyguides/MKT-875-CYM-commercial-office-P1_18.jpg" />
                            <a href="#" class="btn btn-secondary">See Room</a>
                        </div>
                        <div class="gutter-sizer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
