<div class="row"  ng-controller="NbfShopTheLookLandingViewController as vm" ng-cloak>
    <div class="medium-12 large-12 columns widget-1column narrow-container shopthelook [[Model.CssClass]]">
        <div class="row">
            <div class="medium-12 large-12 columns">
                <div>
                    <h1 class="shopthelook__title">[% siteMessage 'STL_Landing_Title' 'Shop The Look' %]</h1>
                </div>
                <div class="shopthelook__page-desc">
                    [% zone 'Above Content' %]
                </div>
                <div ng-show="vm.collection.styles.length == 0">
                    [[Model.NoResultsContent]]
                </div>
                <div ng-show="vm.collection.styles.length > 0">
                    <div class="shopthelook__filters clearfix">
                        <div class="shopthelook__dropdown">
                            <label>[% siteMessage 'STL_Landing_Filter1Label' 'Style' %]</label>
                            <div id="filter1" class="button-group  shopthelook__filter-group">
                                <button class="button show-all is-checked" data-filter="*" ng-click="vm.showAllStyles()">Show All</button>
                                <div ng-repeat="style in vm.collection.styles">
                                    <button class="button" data-filter=".{{style.styleName | removeSpaces}}" ng-click="vm.filterStyle($event, style)">{{style.styleName}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="shopthelook__dropdown">
                            <label>[% siteMessage 'STL_Landing_Filter2Label' 'Room' %]</label>
                            <div id="filter2" class="button-group shopthelook__filter-group">
                                <button class="button show-all is-checked" data-filter="*" ng-click="vm.showAllRooms()">Show All</button>
                                <div ng-repeat="cat in vm.filteredRooms track by cat.id">
                                    <button class="button" data-filter=".{{cat.id | removeSpaces}}" ng-click="vm.filterRoom($event, cat)">{{cat.name}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shopthelook__wrapper">
                        <div class="shopthelook__gird">
                            <div ng-repeat="look in vm.collection.looks" class="shopthelook__item grid-item {{look.styleNames.join(' ')}} {{look.categoryIds.join(' ')}}">
                                <img ng-src='https://s7d9.scene7.com/is/image/NationalBusinessFurniture/{{look.mainImage}}?hei=200&id=5-zsy2&fmt=jpg&fit=constrain,1&wid=344&hei=344' alt="{{look.title}}" />
                                <a href="/shop-the-look/STL?name={{look.title}}&lookId={{look.id}}" class="btn btn-secondary">See Room</a>
                            </div>
                            <div class="gutter-sizer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
