<style type="text/css">
    .homepage__banner-bg { background-color: #000;}
</style>
<div class="row">
    <div class="medium-12 large-12 columns widget-1column no-margin [[Model.CssClass]]">
        <div class="banner banner--homepage">
            <div class="banner__bg--homepage homepage__banner-bg video-banner">
                <video poster="[[Model.BackgroundImage]]">
                    <source src="[[Model.Mp4VideoUrl]]" type="video/mp4">
                    [% if Model.OggVideoUrl != null and Model.OggVideoUrl != "" -%]
                    <source src="[[Model.OggVideoUrl]]" type="video/ogg">
                    [% endif -%]
                    Your browser does not support the video tag.
                </video>
                <div class="playbtn">
                    <span class="ico ico-Play-BTN"></span>
                </div>
            </div>
        </div>
    </div>
</div>
